[2017-04-18 10:24] naqvitalha opened #2 "Changing orientation or dimensions in some cases changes the first visible item"
Looks like the anchor logic is failing in cases where binary search is used.

[2017-04-18 10:24] naqvitalha opened #3 "On iOS changing orientation or dimensions sometimes renders blank items"
Everything gets fixed on doing even a minor scroll.

[2017-04-18 11:38] muskeinsingh opened #4 "initialRenderIndex is not working on horizontal mode"

[2017-04-19 05:28] #4 closed, assigned to nobody

[2017-05-01 10:05] #2 closed, assigned to nobody

[2017-05-01 10:06] naqvitalha opened #9 "scrollToEnd method sometimes won't scroll till end when footer is visible in the list/grid."

[2017-05-15 11:25] muskeinsingh opened #16 "possible to disable elastic scrolling on ios react native?"

[2017-07-10 09:25] muskeinsingh opened #24 "on layout type change for item in view - recycler keeps and computes on older layouts"

[2017-08-16 13:58] smkhalsa opened #28 "Add support for sticky headers"

[2017-08-21 22:07] madnl opened #31 "Prebuild Distributed Files"
Currently the library seems to export the source files as they are, without transpiling ES6 or JSX syntax down to more vanilla JS. This forces users of the library to match the assumed babel configuration this library expects.

[2017-08-23 04:04] naqvitalha commented on #31
The idea was that in IDEs such as Webstorm you can directly jump into well documented source code. Makes the flow easier. Also, react native does transpilation for packages by default. Using this on web is a different story though. Were you trying this on Web? We can maybe have a prebuilt version for web.

[2017-08-23 04:38] madnl commented on #31
Yes, this came from trying the library on web

[2017-08-23 11:31] naqvitalha commented on #31
This is done. Thanks for the feedback, we'd love to hear more if you do give this a try.
Ref: https://github.com/Flipkart/ReactEssentials/pull/32

[2017-08-23 11:31] #31 closed

[2017-08-23 11:32] naqvitalha commented on #28
Can you provide more details on what you're expecting. Sticky headers?

[2017-08-23 11:34] naqvitalha commented on #16
RecyclerListView inherits most of scrollview features. This should work https://facebook.github.io/react-native/docs/scrollview.html#bounces

[2017-08-23 11:34] #16 closed

[2017-08-24 12:05] naqvitalha opened #34 "scrollToIndex leads to inconsistent onVisibleIndexes changed callback"
If scrollToIndex is called on the ListView with let's say 5, the subsequent onVisibleIndexesChanged callback also has the value 4 in the all parameter. This might lead to problems in some cases like a calender etc.

[2017-08-27 20:03] necolas opened #35 "Feedback on RecyclerListView"
Hi, following up on some conversations with @naqvitalha over in the react-native-web repo. Here are some findings/comparisons to our scroller from @madnl, who tried the component in Twitter Lite's timelines (on desktop Chrome):

* Proximity events
    * only support for 'bottom reached' event (no distinction between near and at)
    * no at top, near top events
* new items injected at top leads to

[2017-08-28 01:31] joonhocho commented on #28
@naqvitalha I think he means sticky headers and I think it will be a great addition too.

[2017-08-28 23:03] smkhalsa commented on #28
@naqvitalha yes, that's what I meant. I've adjusted the title accordingly.

[2017-08-30 03:06] naqvitalha commented on #35
@madnl @necolas thanks for the feedback. Find my responses inline:

`Proximity events`
onEndReachedThreshold lets you specify how much in advance you get the callback. However, additional events should be trivial to add since onScroll is exposed.

`new items injected at top leads to loss of scroll position`
Yeah that might be the case, never designed for this scenario. I think anchoring logic can

[2017-08-31 01:28] madnl commented on #35
Hello,

Here's a sketch of how the scroller was tested:

[code]

The context provider looks like this:

[code]

The layout provider is rather rudimentary - but we cannot know the sizes of items in advance.

[2017-08-31 01:34] madnl commented on #35
Regarding anchoring - that would probably require passing a `keyFunction` that assigns a unique key to each item. Otherwise it's very difficult to implement anchoring for lists where items can be arbitrarily added or removed.

Also, I'm curious if you're relying on the browser's scroll restoration to restore the position for lists. We're currently disabling that via `history.scrollRestoration = 'm

[2017-08-31 08:18] naqvitalha commented on #35
Do not use useWindowScroll while using react native web. That is only required with ReactJS, with RNW scrollview will get used anyway.

Check out the following code:

[code]
This is for ReactJS, context preservation works fine here. Just render this component in a window sized div and try out. Click will toggle mount/unmount. Also, we don't use browser scroll restoration. Context Provider caches l

[2017-08-31 11:00] naqvitalha commented on #35
Also, in the example I posted check virtualization. 1000 items are being rendered on very few cells. Let's figure this out and post that may be we can also solve anchoring. Anyways, what is the use case for Twitter Lite?

[2017-08-31 20:58] guysegal opened #36 "Support replacing ScrollComponent"
similar to `renderScrollComponent` of `FlatList`

[2017-09-01 06:31] naqvitalha commented on #36
Need / Use case?

[2017-09-02 08:21] EdmundMai opened #37 "Rerendering row causes list to jump / snap unexpectedly"
I have a list of Events that users can star. However, whenever I star that event (and therefore add the event ID to `starredIds`), the list snaps to the row nearest to the top. Is there a way to prevent this? It feels like bad UX.

[code]

[2017-09-02 10:14] EdmundMai opened #38 "undefined is not an object (evaluating 'itemRect.y')"
This happens when I first run the app on my device:

![image uploaded from ios 9](https://user-images.githubusercontent.com/1857068/29994781-d3b294ea-9012-11e7-95c0-caa067462ec3.jpg)

This is my component:

[code]

I'm using RN 0.47.2

[2017-09-02 10:39] EdmundMai commented on #38
fixed it by instantiating the layout provider in my constructor

[code]

[2017-09-02 10:40] #38 closed

[2017-09-02 14:18] naqvitalha commented on #37
Do not recreate layout provider on every render. Layout provider is not supposed to change. Changing layout provider invokes anchoring mechanism. Ideally, layout provider should change only if you are switching a listview to gridview or totally changing layouts for your list where you would want the first visible item to be preserved. That's what is happening here. Even data provider shouldn't be

[2017-09-02 16:18] EdmundMai commented on #37
Great thanks!

[2017-09-02 16:18] #37 closed

[2017-09-03 11:51] ssssssssssss opened #39 "RefreshControl Support"
From the documents, it looks like there is no RefreshControl support yet. Do you consider this lib as a drop in replacement of FlatList in the future?
Thanks.

[2017-09-04 06:52] naqvitalha commented on #39
This component is written on top of ScrollView which already comes with Refresh Control. Cannot be a 100% drop in replacement since we require LayoutProvider and item types to make necessary assumptions. It is not optional. Both libraries are, however, very similar in terms of contracts.
Close the issue if it answers your question.

[2017-09-04 13:34] #39 closed

[2017-09-04 13:35] naqvitalha commented on #28
We plan on adding add remove animations first. Post that we'll try to pick this up. No good use case has come up yet @Flipkart

[2017-09-07 15:55] peterjuras opened #40 "[ReactNative] this.virtualRenderer not always initialized in RecyclerListView"
First of all, thanks a lot for creating this great list view component. The built in FlatList and SectionList components of react-native are pretty bad at handling initial scrollOffsets, where this component really shines (especially with ContextProvider).

I found a bug where new props lead to exceptions through the componentWillReceiveProps call in RecyclerListView:

When the RecyclerListViews p

[2017-09-07 21:46] peterjuras commented on #40
I think the following line suffers from the same issue (I also get an exception because this._virtualRenderer is null):

- [RecyclerListView.js line 183](https://github.com/Flipkart/ReactEssentials/blob/recyclerlistview-master/src/recyclerlistview/RecyclerListView.js#L183)

[2017-09-08 07:54] naqvitalha commented on #40
This usually sometimes happens on dev mode where the time to mount is huge. Never saw in prod mode. If you have a fix can you raise a PR otherwise we'll pick it up when we have time available.

[2017-09-08 07:54] naqvitalha commented on #40
And thanks for the feedback, really appreciate it!

[2017-09-18 14:23] rahmatkruniawan opened #41 "Blank white when scrolling"
when I scroll slowly it looks normal. But if I scroll quickly then the white screen appears but when the scroll stops displaying the item immediately.
It makes the users less comfortable. Is there any suggestion for this?

[2017-09-18 18:40] akmjenkins opened #42 "ListView starts rendering at index 1"
This is almost certainly not a bug in the RecyclerListView code (but might use a clarification in the documentation).

When I render my list, the first visible item in my list is at index 1 in my data provider. When I _overscroll_ to the top (like a pull to refresh gesture), I can see my index 0 item being rendered in that position (off the top of the window). Am I missing styling?

[2017-09-18 18:55] #42 closed

[2017-09-18 18:55] akmjenkins commented on #42
Styling issue...sorry for the noise!

[2017-09-19 10:48] AbdallaMohamed commented on #40
I'm seeing the same error when I try to call `scrollToIndex` in my `componentDidMount` lifecycle hook. The problem, as far as I could investigate, is that `_initTrackers` is not called until `_onSizeChanged` is called.
@naqvitalha Could you elaborate?

[2017-09-19 10:51] AbdallaMohamed opened #44 "Maintain scroll position when adding rows to the top of the list"
When I call `dataProvider.cloneWithRows()` and add more rows to the top of the list. The scroll position is lost. I tried investigating by reading the source code. I'd appreciate it if you could help with this!

And thanks for the great library! Its performance is amazing.

[2017-09-19 11:15] naqvitalha commented on #41
You must be testing performance on dev mode, please make sure you test with dev off and minify on. Also, make sure your data provider has a valid rowHasChanged method and items have shouldComponentUpdate. We can help further if you share the code. You should not have any blanks ideally.

[2017-09-19 11:25] naqvitalha commented on #40
@AbdallaMohamed You are right, it's not safe to call it in componentDidMount because initialisation might not have happened. But for your specific use case I think you can specify `initialScrollIndex`. It was designed for such use cases.

[2017-09-19 13:38] naqvitalha commented on #44
Sadly, we do not have anchoring support for items added to top of the list as of now. Can you specify the use case? We are considering adding it soon though. Have you tried FlatList? Does it preserve scroll position? We do perform much faster but never tried scroll anchoring with FlatList.

[2017-09-19 16:18] AbdallaMohamed commented on #44
Flatlist's performance is horrible. The reason I switched to RecyclerListView is because of its impressive smooth performance.

And sadly Flatlist doesn't support preserving the scroll positioning when adding items to the top of the list as well. Do you have an idea of a possible work around? I could invest sometime in trying to fix it and make a PR for it

[2017-09-19 16:22] AbdallaMohamed commented on #40
@naqvitalha that was my first approach but because I'm fetching data from an API, the scroll position is lost. That's the same issue here https://github.com/Flipkart/ReactEssentials/issues/44

[2017-09-20 09:14] AbdallaMohamed opened #45 "Calling 'scrollToIndex' while manually scrolling causes blank content"
I have a specific case here where there's a button that scrolls to a specific index in the list. If I tap the button when the list is idle, it scrolls there and renders things just fine, but if the user is already scrolling in the list, it scrolls to its destination and shows blank content until I start scrolling again.

As far as I understood from the source code, there's a render stack that's pr

[2017-09-20 10:30] naqvitalha commented on #45
@AbdallaMohamed when you scroll with no Animation can you check if onScroll of scrollView or RecyclerListView is fired? I remember opening this issue on RN https://github.com/facebook/react-native/issues/15563 . They closed it though, the problem was that onScroll on Android would not fire at all in some cases. Check if this is the same issue. Also, I assume you're trying on Android, if yes, try o

[2017-09-20 10:33] naqvitalha commented on #44
Yeah we'll be more than happy to accept PRs, however, this might not be as simple as a small bugfix. @surya-kanoria from out team is already thinking of solutions around this. Maybe you guys can collaborate.

[2017-09-20 10:35] naqvitalha commented on #40
Why don't you render RecyclerListView once you have the data? Get data and create data source post that render RecyclerListView with initialRenderIndex. For initialRenderIndex to work you need data to be present. Anyways, can you elaborate on the use case so that I can assist better?

[2017-09-20 10:55] AbdallaMohamed commented on #45
It's happening on iOS as well. Looks like it's a thing in react-native itself. I did a workaround by scrolling to the previous day first without animation and then scrolling to the destination day with animation. This will refresh the render stack and eliminate blank content.

[code]

I'll close the issue for now. Thanks for the quick reply though!

[2017-09-20 10:55] #45 closed

[2017-09-20 11:59] naqvitalha commented on #36
Closing the issue. Feel free to open a new one later.

[2017-09-20 11:59] #36 closed

[2017-09-20 22:26] AbdallaMohamed commented on #44
@surya-kanoria I've read most of the source code and I have an idea of how things work. Would love to help implement this. How do you suggest we contact each other?

[2017-09-21 09:33] AbdallaMohamed commented on #40
Even if I rendered the RecyclerListView after I load the data. I'd still have to imperatively scroll to the desired index, which will break because of #44. Thanks for the suggestion though.

[2017-09-22 07:05] surya-kanoria commented on #44
@AbdallaMohamed Let us connect on hangouts. Can you please share your gmail id and a suitable time to talk?

[2017-09-22 12:20] AbdallaMohamed commented on #44
@surya-kanoria feel free to mail me at ame@churchdesk.com anytime

[2017-09-25 07:17] naqvitalha commented on #40
@peterjuras Have raised a PR to fix this issue https://github.com/Flipkart/ReactEssentials/pull/46 . Tested on your sample as well. Can you once go through and verify if it fixes the issues you encountered. We will then publish the package.

[2017-09-25 07:20] naqvitalha commented on #40
@AbdallaMohamed scrollToIndex will still fail if called before mounting. I believe that's the way it should be and currently we don't have a workaround. I will put a null check though.

[2017-09-25 07:28] AbdallaMohamed commented on #40
@naqvitalha Yeah. I put a `setTimeout` as a workaround. I think it all comes to maintaining the scroll position as new items are added to the list. Then there would be no need to call `scrollToIndex`, because we already have`initialRenderIndex`

[2017-09-25 08:11] naqvitalha commented on #35
@madnl wrote about context preservation https://medium.com/@naqvitalha/context-preservation-on-page-destruction-in-react-native-and-web-using-recyclerlistview-8dd9e8475c3d . We can continue working on this thread if you're interested.

[2017-09-25 08:14] naqvitalha commented on #40
@AbdallaMohamed Interested in seeing what you're building. Anyway to take a look?

[2017-09-26 09:05] naqvitalha commented on #40
Fixed in https://github.com/Flipkart/ReactEssentials/pull/46

[2017-09-26 09:05] #40 closed

[2017-09-27 09:21] peterjuras opened #47 "Invalid semver version for latest update"
Hi!

The latest version has been released as version 1.0.7, the version before this was 1.0.61.

If your module is now installed via npm i --save, 1.0.61 is downloaded instead of 1.0.7. A quick fix would be to publish either a version above 1.0.61 or directly go for 1.1.0

[2017-09-27 09:28] peterjuras commented on #40
Sorry for the late response, I can confirm that the fix resolves the issue.

However, you should check out #47 since it might affect new users.

[2017-09-27 10:12] naqvitalha commented on #47
Done, thanks. This was a miss :(

[2017-09-27 10:12] #47 closed

[2017-09-27 19:19] AbdallaMohamed commented on #40
@naqvitalha can you share your email so I could share the details with you? I tried sending an email to cross-platform@flipkart.com but Gmail fails to deliver my mails.

[2017-09-28 09:24] naqvitalha commented on #40
cross-platform@flipkart.com is public now... it should be working... can you try now? If it doesn't please DM me on twitter.. I'll pass on the email there.

[2017-10-04 07:59] ariona opened #49 "Available Methods for navigating the list"
There is no documentation on what available props and methods.
Is there any method for navigating the list like `scrollTo`, `scrollToIndex`, `scrollToItem`
or a prop for setting initial list item to be focused?

[2017-10-04 08:56] naqvitalha commented on #49
The documentation does mention support for initialRenderIndex or offset. All methods you mentioned are available too. It would be best to just go through props in code itself. It is well commented. Check this file https://github.com/Flipkart/ReactEssentials/blob/recyclerlistview-master/src/recyclerlistview/RecyclerListView.js

[2017-10-04 08:56] #49 closed

[2017-10-04 09:06] ariona commented on #49
Thanks for pointing it out, i am a bit lost diving into the source code. but the code is well documented by the way.
You should update your `readme` file to include the available props and methods.

Thanks.

[2017-10-05 13:29] naqvitalha commented on #49
Yeah, we'll try to do that soon. Thanks!

[2017-10-16 12:47] AbdallaMohamed opened #52 "Force rerendering when data changes"
I have a case where some data in my Redux store is being updated, and I want the RecyclerListView to update its rows. Currently, if the row has been rendered it's not updated until I scroll far away and then scroll back. Is there a method that I can call to imperatively rerender the visible rows?

[2017-10-16 15:27] lonewolfffffff commented on #41
I've managed to record my device [here](https://youtu.be/UsgOepw0vNo)
Device info :
Lenovo A7700
Android version 6.0
RAM 2GB
Processor MT6735M 4Core 1.0GHz

[2017-10-16 15:53] naqvitalha commented on #41
@lonewolfffffff can you try running this link in expo and see how it does? https://snack.expo.io/B1GYad52b
It could be that the device is just too slow... How do other apps perform in the device?

[2017-10-16 16:42] lonewolfffffff commented on #41
[result](https://youtu.be/OoJ5HNYAjns) not too bad I think. Does it use the same component?
well, my client ask me to build a React-Native app which targets low-end devices so I test the app with Lenovo A7700.
Previously I tested Android's native RecyclerView and you can see [here](https://youtu.be/lkRJcT4Vh_0) it runs just fine

[2017-10-17 15:26] naqvitalha commented on #41
So, there are two major differences between using native and react native. React Native's async nature makes it prone to blank spaces and frame drops both. So, if device is slow you start seeing blanks and if it's really slow you'll get both blanks and frame drops on quick scrolls. Native recycler view will never go blank because it can synchronously wait for the UI to render before scrolling the

[2017-10-17 15:31] naqvitalha commented on #52
`rowHasChanged` passed to `DataProvider` is for the same purpose. Any issues there?

[2017-10-17 18:15] AbdallaMohamed commented on #52
It doesn't run the render function of the row I'm afraid. And I've even changed the row has changed to use lodash's deep equality check, but with no luck.

[2017-10-19 01:49] tafelito commented on #35
Hi, I have a similar requirement where I need to add items on top of the list and keep the scroll position and also having an inverted list that scrolls up. Instead of reaching the end would reach the start (or the end but inverted 😉 )

Are you planning on working on this?

[2017-10-19 02:02] tafelito opened #53 "Unsupported vendor-prefixed style property webkitTransform"
Hi, I'm getting this warning error when loading the list on web

[code]

The issue seems to be in this line https://github.com/Flipkart/ReactEssentials/blob/8e7df4a56f14e9dfb6584e9b0a397f81df5e43aa/src/recyclerlistview/viewrenderer/web/ViewRenderer.js#L64

[2017-10-19 14:19] naqvitalha commented on #52
We've built multiple features where row data has changed and haven't any faced issues. This is basic functionality. Can you provide a quick repro on snack so that we can help you out?

[2017-10-19 14:21] naqvitalha commented on #53
webkitTransform is the right nam https://stackoverflow.com/questions/708895/how-to-set-the-style-webkit-transform-dynamically-using-javascript
Which browser are you trying this on? I don't see the warning on chrome.

[2017-10-19 14:28] naqvitalha commented on #35
@tafelito If it's just inverted then it's easy. Like in a chat app you can just do a `scaleY: -1` transform to get it to work. In case of twitter items can be added to the bottom of the list as well as the top. That is not supported yet. @surya-kanoria from our team is looking into making it possible. Async nature of react-native is making it quite tricky. A dedicated issue is open for that https:

[2017-10-19 15:38] tafelito commented on #53
yes, I'm using chrome as well. Not sure why it gives that error on mine then. Just commenting that line it works, but not sure what the implications are.

![image](https://user-images.githubusercontent.com/5973652/31779772-5007613e-b4ca-11e7-86af-5e9948718b64.png)

Also I have another issue when I build my project, it complains about not having react-native dependency, where I'm using it on the we

[2017-10-19 15:59] tafelito commented on #35
Thanks @naqvitalha for the quick response. I tried using `scaleY: -1` on the div container but it also requires to set the scale on the list as well. I tested this on chrome and it works but I didn't find a way to actually set a style to the listview.

Reagrding issue #44 I'll keep an eye on it.

Thanks

[2017-10-19 16:13] naqvitalha commented on #53
webKit transform is there to support browsers like UC. They don't understand transform property. Removing this warning will require a browser UA check which I don't to be inside the library. Maybe we can accept it as a prop. Regarding the process.env, does it just warns or the build actually fails. In case it does work are you able to get it to render everything fine? Share relevant part of webpac

[2017-10-19 16:21] naqvitalha commented on #35
Looks like in case of web style prop is not passed to the scroll container :( . But if you've set it on the enclosing div it should work. Individual items will also need to have the same transform.

Style not being applied is a bug. Open an issue and if you're looking into it a PR will be very helpful. Thanks!

[2017-10-19 17:04] tafelito commented on #35
yes that's why I did and it works fine. The only issue I see now is the scroll direction now it goes the opposite way on desktop. It makes sense but I need to find a way to invert that as well

I'll open a new issue for the styling.

Thanks

[2017-10-19 19:17] twistedfork88 commented on #53
Please refer the link https://titobouzout.github.io/react/tips/inline-styles.html used for inline styles used in react. I think the property for inline style should be WebkitTransform (with a uppercase W).

[2017-10-19 19:45] tafelito commented on #53
Thanks @twistedfork88 that'd solve the issue.

@naqvitalha regarding the env variable, I'm not using webpack to bundle my project, so I don't have a config file. Even with the warning at build time, the project still runs, but it's a little annoying having that issue if I can prevent it somehow. I know other libraries like styled-components handle the separation btw native and web, or event rnw, w

[2017-10-20 05:18] naqvitalha commented on #53
thanks @twistedfork88, didn't know about this convention.

@tafelito the idea with process.env was to keep the import location constant. The easiest solution that I can think of is to have something like `import { RecyclerListView } from "recyclerlistivew/web"` that should do it. That's how styled-compoments does it. With aliases there is a chance that this might happen to someone again since not

[2017-10-20 05:19] naqvitalha commented on #35
@tafelito interesting, let me know if you're able to solve this. Very interested in the solution.

[2017-10-20 12:51] tafelito commented on #53
that'd great @naqvitalha thanks!

[2017-10-20 12:59] tafelito commented on #35
One way I can think of is handling it on the onWheel event, where you can check if you are inverting the list you force the scroll to the opposite direction (multiplying by -1 the scroll value on Y).

Ideally this should happen on the list itself as it would be easier to control it there, and then you could add an inverted property like RN FlatList does. I should check how they do it there, but th

[2017-10-20 14:32] Fr1kki3 opened #56 "change size of rendered item"
Good day based on the source code I can see that there is an onSizeChange(), but I cannot find anything on how to change the size in such a mater that this event is triggered.  Any pointers on what too look for?

[2017-10-20 15:14] naqvitalha commented on #35
FlatList does the same thing, uses transforms. The scroll direction is however unaffected by the transforms. It could be that native handles it in a different way. Scrolling in opposite direction could be something unique to web.

[2017-10-20 15:18] naqvitalha commented on #56
onSizeChanged is raised by the scroll container to inform that dimensions of list have been changed. It causes a relayout to fit items accordingly. This only works if you set `canChangeSize` to true. In case of web, only works with `useWindowScroll` since there are no resize events to listen to on `<div/>`
Also, the title mentions "rendered item", what exactly are you looking for?

[2017-10-20 15:25] Fr1kki3 commented on #56
Using react native, I have items in my list and when I click on one I want it to expand in other words I want to change the size of this item in the list and fit the rest of the list below it.

my last attempt was as follows:
renderActivity(type, activityModel, index){
    select = () =>{
      if(this.height === itemHeight){
        //expanded
        this.height = deviceHeight * 0.5;
      }

[2017-10-20 15:57] naqvitalha commented on #56
What you're looking for is non deterministic rendering. Set `forceNonDeterministicRendering` to true on recyclerlistview. Post that simply render the bigger item and the list will auto relayout itself. Please not that in non deterministic scenario the height and widths mentioned in layout provider are considered as close estimates. They will not be enforced on items, you will have to do that yours

[2017-10-20 16:10] Fr1kki3 commented on #56
Great that helps thank you.

[2017-10-20 16:55] naqvitalha commented on #56
Great, closing.

[2017-10-21 04:42] naqvitalha commented on #53
@tafelito try version 0.0.2 . It's a beta. See if it fixes all of your issues.

[2017-10-23 13:10] Fr1kki3 commented on #56
Good day, I am using extremely big lists and therefore speed is very important. So I went with the second approach.

 layoutProvider = new LayoutProvider(
            index => {
                let dataAtIndex = this.state.data.getDataForIndex(index);
                if(!dataAtIndex.isExpanded){
                  return ViewTypes.COLLAPSED;
                }
                else {

[2017-10-23 14:09] Fr1kki3 commented on #56
Disabling recycling fixed the problem, but I would still like to know why this is necessary?

[2017-10-23 15:36] naqvitalha commented on #56
@Fr1kki3 We've had similar layouts here and haven't faced any such issue. Expand collapse never caused this for us. This is definitely unexpected.
Also, please don't disable recycling, that will greatly increase memory usage and slow down the list.

If you're in a hurry you can go with non deterministic rendering. From looking at your layout it should be pretty fast too. Let's try to find out the

[2017-10-23 15:42] naqvitalha commented on #56
Also `data: this.dataProvider.cloneWithRows()` you should ideally do this on the last `dataProvider`. So call this on the `dataProvider` inside the state.

[2017-10-23 16:45] naqvitalha commented on #56
I've created a small sample. You can try running it on expo using the link: https://expo.io/@naqvitalha/snack-rykYFcoaW

If you want to view the code use expo snack link: https://snack.expo.io/rykYFcoaW

Color is not changing on snack. There is some issue on re render logic on their end. The latter is the same code built using their sdk. In any case, I'm not seeing the same issue. Check out.

[2017-10-23 19:03] andrea7887 opened #58 "Portrait/Landscape rotation - resize issue"
When I rotate the device the cells are upgraded their size only when I scroll, and not on rotation. I've set the canChangeSize={true} props, the _layoutProvider is called once the device is rotated with the right new sizes, but the cell width is expanded or reduced only after some scrolling.

[2017-10-23 21:51] Fr1kki3 commented on #56
slice is for paging, if I scroll fast I get white spaces where rows still needs to be rendered, the chance of this increases If there is many icons or images that needs to load(much less than FlatLists though). Paging solved this problem. Thanks for the advice on the dataProvider. I will continue trying to reproduce the problem outside of my production app and let you know ass soon as I am able. A

[2017-10-24 00:33] tafelito commented on #35
@naqvitalha I'll try to work on some version of this and I'll let you know how it goes!

[2017-10-24 00:33] tafelito commented on #53
@naqvitalha 0.0.2 looks good! importing form /web did the job!

Thanks!

[2017-10-24 03:33] naqvitalha commented on #58
I just looked at the code, looks like it's a regression. Inside `VirtualRenderer` we now check if `renderStackHasChanged` or not. In this case it doesn't change so the refresh doesn't occur.

We'll try to fix it in the next release. For now you can manually refresh. Wrap recycler in a view to detect orientation change and when it is detected call _refreshViewability on ref of RecyclerListView. Tha

[2017-10-24 03:39] naqvitalha commented on #56
Okay, great. Regarding the blanks, I have few questions:
1) Did you test on dev mode or release/minify?
2) What device and OS did you use?
3) Do you have a valid check in `rowHasChanged` and `shouldComponentUpdate` inside the component?
4) Are you rendering everything even in the "COLLAPSED" state?

From looking at the template it shouldn't go blank. We have lot of complex views here as well and w

[2017-10-24 03:40] naqvitalha commented on #53
Great! It'll get release within a few days.

[2017-10-24 06:57] andrea7887 commented on #58
Thank you very much with this fix it works! Thank you!

[2017-10-24 06:57] Fr1kki3 commented on #56
Only debug mode so far.

Both Android and IOS, in my case it was worse on my android tablet.(My device is slower than most by default)

The data provider has a valid rowHasChanged, As far as shouldComponentUpdate is conserned I saw it in your snack project yesterday and that is the only place I have seen it till now. Also when I took your snack project scaning the QR code from the first link every

[2017-10-24 07:34] naqvitalha commented on #24
Fixed.

[2017-10-24 07:34] #24 closed

[2017-10-24 08:03] Fr1kki3 commented on #56
Ok so regarding the layout bug I had a display component inside the row that should enable if the row is expanded. Using a state inside the component to determine if it should be enabled rather than the dataItem sent as prop solved the problem

[2017-10-24 09:07] naqvitalha commented on #58
Great! Glad that it worked out. Anyways, the release after the next one will have this fix in core code itself. I'll close this once that is done.

[2017-10-24 13:03] Fr1kki3 commented on #56
Yes recycling is on, regarding the blanks release mode solved it without pager until i opened my extreme case (13000 items) then app runs out of memory the moment I open the view, witch is rather expected to an extend

[2017-10-24 17:31] naqvitalha commented on #56
It is expected if data is bulky. 13000 items is a lot of data moreover, you'd be getting it over the bridge which means first there'll be a copy of it on native end. Ideally you'll need to do data virtualization in this case. The reason we don't pass data field in layout provider is for the same reason. To do data virtualization you'll need to fetch data inside component and render it yourself. Th

[2017-10-27 01:12] iLevye opened #60 "Rendering same rows repeatedly on ios"
ReactEssentials is exactly what I need. But I faced with this interesting situation when I tested with real data. I have a long list. But all list rendering with the same items (first 13 item).

Working fine on android but I stuck on ios.

recyclerlistview: ^1.1.4
react-native: 0.49.3

[code]

[2017-10-27 03:50] #60 closed

[2017-10-27 07:06] naqvitalha commented on #60
What was the issue here?

[2017-10-28 12:23] naqvitalha commented on #35
https://github.com/Flipkart/ReactEssentials/issues/44 will be used to track reverse list progress. Closing this since all other issues mentioned are resolved.

[2017-10-28 12:23] #35 closed

[2017-10-28 12:24] naqvitalha commented on #41
No activity. Closing this.

[2017-10-28 12:24] #41 closed

[2017-10-28 12:26] naqvitalha commented on #9
scrollToEnd will scroll to the end of the list i.e, starting of the footer. Closing.

[2017-10-28 12:26] #9 closed

[2017-10-28 12:29] naqvitalha commented on #52
Reopen is issue still remains. As long as you have relevant checks in `rowHasChanged` this is a non issue.

[2017-10-28 12:29] #52 closed

[2017-10-28 12:29] naqvitalha commented on #56
Since the issue is resolved. Closing this.

[2017-10-28 12:29] #56 closed

[2017-10-28 12:32] naqvitalha commented on #53
Issue fixed in release 1.1.5 (https://github.com/Flipkart/ReactEssentials/releases/tag/1.1.5). Closing.

[2017-10-28 12:32] #53 closed

[2017-10-28 12:47] AbdallaMohamed commented on #52
I'll try to isolate the problem and let you know. Thanks for following up.

[2017-10-31 13:35] iLevye commented on #60
The UserRow component was connected redux. I unmounted redux and passed actions via prop. It's working nice, both ios and android.

[2017-10-31 13:48] naqvitalha commented on #60
Great :)

[2017-11-02 20:09] Fr1kki3 opened #62 "Cannot read property 'getLayoutDimension' of undefined"
If I initially load a page before having data, returning an empty page(null/<Text>No Data</Text>) then fetch data from server after component mounted and set the data for data provider to my new data this error is produced at VirtualRenderer.getLayoutDimension.

On IOS it imediatly displays the "'getLayoutDimension' of undefined" error while on android the red screen displays 'Node has not been at

[2017-11-03 12:28] Fr1kki3 commented on #62
after moving all the components out of node_modules and putting some console logs in I found that this._layoutManager in VirtualRenderer is in fact undefined at this point

[2017-11-03 17:16] muskeinsingh commented on #62
Hey,

We are aware of the Null Pointer Exception here. We will be fixing it in a release soon. In the meanwhile, can you please make sure you mount the view after you have the data? It is being tracked [here](https://github.com/Flipkart/ReactEssentials/pull/43)

Let us know if this helps. Thanks for the feedback :)

[2017-11-03 22:49] tafelito opened #64 "onEndReached called when initializing list"
Is there any reason why the _processOnEndReached is being called here?  https://github.com/Flipkart/ReactEssentials/blob/78203c98ad1caf6ec379687dc3842d29b77f4148/src/core/RecyclerListView.js#L258

The onEndReached callback is always called before loading the first items, so if I wanna add some logic to add more items when reaching the end, like an infinite loading, it will be called even if it's n

[2017-11-05 11:56] naqvitalha commented on #64
This brings me back to the discussion I was having with @muskeinsingh the other day, the question was whether a list mounted with zero items is at its end or not? I think it is, height is zero and so is the offset.
Imagine a flow where you start fetching items with something called as `startIndex`, mounting a list with zero items can trigger load with `startIndex=0` and in the end update it as `st

[2017-11-06 15:17] tafelito commented on #64
I think in terms of the flow you mention, I agree, only one flow would be better. The problem I see with that case is what happen when you want to preload data. Let's say I want to navigate to a screen, or come back and load the data at the same position I was. If you load the data on endReach, you will always see a blank screen ( or a loading indicator or any the footer if any). So I guess they w

[2017-11-07 07:25] anshul1235 commented on #62
+1

[2017-11-07 07:35] anshul1235 commented on #62
happened to me when the value of dataprovider was changing when my screen loads.. Not just with empty or no data, but happens when render is called multiple times in same time

[2017-11-07 07:42] Fr1kki3 commented on #62
Good to know that you are aware of this bug and are working on it. Mounting view after fetching needed data is not always possible. Please let us know when the fix is rolled out then I will update the package and start using the package again rather than just the components.

[2017-11-09 06:39] sm2017 opened #65 "Question : measure night of text"
I have a large data set contains different media and text

I can calculate all dimensions before rendering . except text

How can I exactly calculate text height for known width?? (I need a solution that works for web too)
Is the height depends on font-family too? Or just font-size?

[2017-11-09 06:56] sm2017 commented on #65
Let's ask my question in details . May be I am in wrong way

I have a big list of different type views . I have 10 different type  of view . all of them has fixed dimension elements or I can calculate dimensions before rendering. The problem is some view types has variable length multilingual text. How can I have a fast recycling view??

[2017-11-09 12:21] naqvitalha commented on #65
There are simply too many variables while calculating height of text, font-size (can also be overridden by OS), fonts etc. Depending upon the use cases it may not be viable. It is also possible to have a performant listview with non deterministic heights. Did you try the `forceNonDeterministicRendering` mode? Just come close to the real height and even non deterministic rendering will be very fast

[2017-11-09 13:02] sm2017 commented on #65
I'm not trying `forceNonDeterministicRendering` yet and will try it asap
Just another question . How much close to real height?? For example ±10 or ±100 dip is close?

[2017-11-09 13:51] sm2017 opened #66 "Sticky header"
How can I have a sticky header like the following gif
![sticky header](http://blog.bafoly.com/wp-content/uploads/2015/10/stickylistview.gif)

[2017-11-09 14:27] naqvitalha commented on #65
±10 is definitely great. In any case, list will relayout and correct it to match the actual ones. Given react native's async native we can only correct layouts one frame after render. If difference is too big there might be a noticeable flicker on very quick scrolls. But again, depends on the use case

[2017-11-10 11:35] naqvitalha commented on #66
Same as https://github.com/Flipkart/ReactEssentials/issues/28. Not supported yet, but you can build it yourself.

[2017-11-10 11:35] #66 closed

[2017-11-10 15:38] sm2017 commented on #28
@naqvitalha I want to implement a simple version for my use case
How can I detect that which item is top and which is coming in view report and which is go out?

[2017-11-10 15:45] AbdallaMohamed commented on #28
I'll be closely keeping an eye on this issue.

[2017-11-11 09:49] sm2017 opened #68 "Redux issue"
I have an issue as same as https://github.com/Flipkart/ReactEssentials/issues/60 but in both android and iOS (I think the problem is not depends on OS)

My `rowRenderer` return an element connected to redux and I need to use redux , and I put `dataProvider` in the `mapStateToProps`

Can you please provide an example that show how we can use this library with redux?

[2017-11-11 10:23] sm2017 commented on #68
I put a log at `rowHasChanged` of dataProvider

[code]

I understand that always r1 and r2 is repeated to and `r1 !== r2` is always `false` , I change `rowHasChanged` to `(r1, r2) => {return true}` just for testing , but not solved

[2017-11-11 10:36] naqvitalha commented on #68
Only keep data in Redux store and create DataProvider inside the component that renders RecyclerListView. When data changes simply create a new one. Don't have it inside the store, that will solve it.
If this doesn't help it would be simpler if you can repro the issue on snack so that I can take a look. Here @Flipkart we already use RecyclerListView with Redux.

[2017-11-11 10:48] sm2017 commented on #68
@naqvitalha DataProvider is not in store and is in connect , I tried inside component  too , But not working
I will provide simple repro within an hour

[2017-11-11 12:04] sm2017 commented on #68
Please clone and run this https://github.com/sm2017/issue-68

In this line https://github.com/sm2017/issue-68/blob/master/src/App.js#L7 , I just put data as initial sate , we never ever change state in this example

https://github.com/sm2017/issue-68/blob/master/src/flights/FlightsPage.js#L90-L98 I add dataProvider to props and if state change new dataProvider is created

As you can see https://gi

[2017-11-11 12:20] sm2017 commented on #68
@naqvitalha I see that https://github.com/naqvitalha/travelMate without redux has same issue , Please run https://github.com/naqvitalha/travelMate when you change FlighData with  Green_circle Icon

[2017-11-11 17:44] vvmgev commented on #68
in the example if you use this methods yo can see that error
       componentDidMount() {
        this.setState({
            dataProvider: this.dataProvider.cloneWithRows(this._generateArray(3))
        })
    }
if you use it with  setTimeout
its working
    componentDidMount() {
        setTimeout(() => {
            this.setState({
                dataProvider: this.dataProvider.cloneWithRows(t

[2017-11-11 18:50] naqvitalha commented on #68
@vvmgev Try version 1.2.0-beta.4 ... Should be fine. But know that version is under testing right now.
@sm2017 I'm looking into your issue. Will get back.

[2017-11-11 19:33] naqvitalha commented on #68
@sm2017 I checked the travelMate code, if you look at the bottom I'm using concat to make list longer. This will duplicate object references and cause the issue. I've fixed it can you try and repro now?

[2017-11-12 08:36] vvmgev commented on #68
@naqvitalha ok thanks I will use it
and I have a small question
Now I can set  the scroll position when initializing, like scrollTo function

[2017-11-12 08:45] naqvitalha commented on #68
@vvmgev Use initialRenderOffset or initialRenderIndex while mounting. Make sure you don't mount with empty data to fully leverage it.

[2017-11-12 09:06] vvmgev commented on #68
@naqvitalha thanks

[2017-11-12 12:46] sm2017 commented on #68
@naqvitalha My problem is solved , I can use Redux without issue

[2017-11-12 12:49] sm2017 opened #69 "Some callback needed"
@naqvitalha I want to implement a simple version of sticky header for my use case
How can I detect that which item is topmost (or bottommost) and which is coming in view report and which is go out?

[2017-11-12 13:18] naqvitalha commented on #69
Check out the callback onVisibleIndexesChanged callback for the same. You can infer most of what you want from the callback. RecyclerListView.js proptype definitely is a good place to explore all features.

[2017-11-12 14:28] sm2017 opened #70 "LayoutProvider and item"
I have an use case that `LayoutProvider` must pass me `item` to calculate `dim.width` and `dim.height`

like the following code

[code]

` (type, dim , item) => {}` OR ` (type, dim , index) => {}` is good

[2017-11-12 17:25] naqvitalha commented on #70
Layout provider is anyway a class. It would be very simple to grab reference to the data provider here. You already have the index. To get data use `item = dataProvider.getDataForIndex(i)` leaving out data here was a conscious design decision.

[2017-11-12 17:25] #70 closed

[2017-11-13 05:49] sm2017 commented on #68
I have just a mistake , actually this code works well

[code]

[2017-11-13 05:58] sm2017 opened #71 "Question : Complex layout"
I have a list with 10 different layout type , each type can `text` comment or not , For example I have an `Image` layout that can contain `text` or not , layout here is similar to blog post

Another type is `Video` that may contain `text` or not

Must I define 20 different ViewTypes for `LayoutProvider` ?

[2017-11-13 07:33] naqvitalha commented on #68
Great.

[2017-11-13 07:33] #68 closed

[2017-11-13 08:38] sm2017 commented on #71
Me second question is more complex than first (Please reply both question seperatly)

My 10 different layout types can be combine together can create 100 possible different views for example , We have a **Single Image View** , **Single Image View combined by another Image** (second image attached to first and create a complex view that is combined by two image) , **Single Image combined by
Video v

[2017-11-14 05:09] #69 closed

[2017-11-14 05:11] naqvitalha commented on #64
@tafelito But why would anyone mount the list without any data? If there is data onEndReached will not be triggered anyway. I see few people doing that but I don't really understand.

[2017-11-14 05:19] naqvitalha commented on #71
Having 100 view types would definitely hurt recycling if most of these would be present in the list. Since for each type you need atleast one item out of viewport to reuse it. The way I see it is that you should aim to reduce the number of mounts/unmounts.
A simple example, lets say we have a view that looks like this:
Image + Text

And the `Text` is optional, while recycling if your component ren

[2017-11-14 06:20] sm2017 commented on #71
I can convert `Image + Text` to `Image + Hidden Text` for multi purpose

But Really it is not possible for `Image+Image` and `Image+Video` and other types , Is the following solution good?

| ElementType 	| ViewType 	|
|-------------	|----------	|
| Image       	| 0        	|
| Video       	| 1        	|
| Audio       	| 2        	|
| Image+Image 	| 3        	|
| Image+Video 	| 4        	|
| Image

[2017-11-14 16:23] AbdallaMohamed opened #72 "Sticky Headers with an External ScrollView"
I've been experimenting with the new `externalScrollView` prop trying to achieve a true sticky header experience. And this is what I came up with so far.

![sticky-header-demo](https://user-images.githubusercontent.com/10912145/32790017-824ef93e-c95d-11e7-9d06-85630a6e2499.gif)

My solution was replacing the normal `ScrollView` with an `Animated.ScrollView` and have its `onScroll` feed into an Ani

[2017-11-14 18:40] naqvitalha commented on #71
Yeah given your use case this might work. Don't see any unmounts. You should try and see. Frame rate should be fine but also do check memory usage to see it doesn't go too high. Ideally it shouldn't l.

[2017-11-14 19:13] tafelito commented on #64
First of all, when I set the` forceNonDeterministicRendering = true` the onEndReached callback is executed even if the list has any data before mounting.

I'm not sure why you'd mount a list without any data (maybe no data at all?), but if I do that, I'd want to have the onEndReached callback to be called, but if the list does have data when
mounting, the onEndReached should not be called, as it h

[2017-11-15 10:29] AbdallaMohamed commented on #66
@sm2017 Maybe you can try the solution in https://github.com/Flipkart/recyclerlistview/issues/72

[2017-11-15 14:58] AbdallaMohamed opened #73 "onVisibleIndexesChanged returns wrong values when initialRenderIndex is provided"
I've been trying to utilize both the `onVisibleIndexesChanged` and `initialRenderIndex` props at the same time, but I'm facing a weird behaviour that I'm not sure if it's intended to be that way.

When I provide an `initialRenderIndex` value of 10, `onVisibleIndexesChanged` is fired first with the values `[0, 1, 2, 3, ...]` and then it's fired again with the correct values `[9, 10, 11, 12, 13, ...

[2017-11-15 15:28] sam201401 opened #74 "Getting error recyclerlistview needs to have a bounded size .currently height or width is 0"
I am trying to add fixed footer how can I solve this problem

[2017-11-15 17:12] AbdallaMohamed opened #75 "Cannot read property 'reLayoutFromIndex' of undefined"
I'm trying to change the content of the `recylcerlistview`, but I keep getting `Cannot read property 'reLayoutFromIndex' of undefined`. What could be causing that error?

I'm updating my data in the following way:
[code]

The error happens in `RecyclerListView.js:224` in the line
`this._virtualRenderer.getLayoutManager().reLayoutFromIndex(newProps.dataProvider._firstIndexToProcess, newProps.dataPr

[2017-11-15 17:42] naqvitalha commented on #75
Are you trying to do so before the mount has happened? Are you using React 16 by any chance?
Give version 1.2.0-beta.5 a try and let me know.

[2017-11-15 17:54] naqvitalha commented on #74
Try giving flex:1 to the listview. Make sure the parent view is also deterministic in height/width.

[2017-11-15 18:55] naqvitalha commented on #73
Thanks for reporting the issue. Definitely not what was intended. This is regression bug :(
I've fixed this in 1.2.0-beta.6. Will close once it is released.

[2017-11-15 18:56] naqvitalha commented on #72
Looks great. Will take a look. Might take some time.

[2017-11-15 18:57] naqvitalha commented on #36
Will be available in v1.20

[2017-11-15 18:58] naqvitalha commented on #64
`forceNonDeterministicRendering = true` should not trigger onEndReached if it does then it might be an issue. Provide a repro and I'll take a look.

[2017-11-16 08:02] ckdvivedi opened #76 "JavaScript with staggered grid support."
You mentioned in document that "We built RecyclerListView which is a high performance list view written purely in JavaScript with staggered grid support."

Please provide instruction, How can I achieve staggered RecyclerListView .

[2017-11-16 08:39] AbdallaMohamed commented on #75
@naqvitalha  Yeah I'm using React 16.0.0-beta.5

I switched to `recyclerlistview@1.2.0-beta.5` and that problem seems to be fixed now! 👍

Any specific date for when this one gets released along with the `onVisibleIndexesChanged` bug fix?

[2017-11-16 09:58] AbdallaMohamed commented on #73
Just switched to `1.2.0-beta.6` and it's fixed! 👍

[2017-11-16 09:58] #73 closed

[2017-11-16 10:53] ckdvivedi commented on #76
Please provide solution, How can I achieve staggered RecyclerListView .

[2017-11-16 12:04] AbdallaMohamed opened #77 "Question: How to update initialRenderIndex when changing rows"
I'm trying to update the rows with `cloneWithRows`, but looks like updating `initialRenderIndex` at the same time as updating the `dataProvider` doesn't actually work. Maybe that's the way it was intended to work, but I also noticed that the `recyclerlistview` maintains scrollposition even if the overall height of it changes.

I made a quick snack of this case here: https://snack.expo.io/SJyh3xiyG

[2017-11-16 13:54] naqvitalha commented on #77
`initialRenderIndex` only works with initial mount. That's the way it was designed. I think you can easily achieve your case by using `scrollToIndex`. `initialRenderIndex` is helpful in cases of initial mount where you don't want any flickers.

[2017-11-16 13:55] naqvitalha commented on #76
Staggered in one dimension for now. Just return relevant dimensions in layout provider and it'll work. Did you try this?

[2017-11-16 14:15] AbdallaMohamed commented on #77
How about that other problem that I'm showing in my snack, where the scroll position is maintained when the over all height of the all rows is smaller?

[2017-11-16 15:41] ckdvivedi commented on #76
I Tried but I want staggered grid as masonry layout. ex. Pinterest.

[2017-11-16 17:06] naqvitalha commented on #77
I'm not able to repro that. Any hints?

[2017-11-16 17:16] naqvitalha commented on #76
Masonry cannot be done with current layout manager. You can however write your own. We will be opening it up soon anyway. Would you like to?

[2017-11-16 17:17] naqvitalha commented on #75
In about two weeks. We are moving to typescript, thus the delay.

[2017-11-16 17:17] #75 closed

[2017-11-16 17:17] #74 closed

[2017-11-16 17:18] naqvitalha commented on #71
Closing. Please open a new issue incase of any more queries.

[2017-11-16 17:18] #71 closed

[2017-11-16 17:19] naqvitalha commented on #62
Please try using version 1.2.0-beta.6 and see if solves the issue.

[2017-11-16 17:25] ckdvivedi commented on #76
Sure. Thanks for your reply.  I have to move another library project. BTW great library. Please provide support for masonry layout soon.

[2017-11-16 17:27] AbdallaMohamed commented on #77
I just noticed that it's working on my android phone but not on the iPhone simulator.  Load the snack and you'll see that it loads a 100 rows with an initial render index of 20. Tap on "Change Rows" which change the content to 10 rows. You'll notice that the scroll position is way below the last item in the list.  If you touch the RecyclerListView, it will scroll up to the last item of the list.

[2017-11-17 19:53] naqvitalha commented on #77
That explains why it wasn't happening for me on android. I really wouldn't want to put a hack to fix it for iOS. Btw does an extra setState fixes it? How about a programmatic one pixel scroll?

[2017-11-17 19:54] naqvitalha commented on #76
Great.. We'll try to do that soon.

[2017-11-17 22:04] AbdallaMohamed commented on #77
Programmatic scrolling doesn't work, I'm afraid. I even tried `getCurrentScrollOffset()` and it's returning the wrong offset. Looks like the height of the listview is being updated on scroll or something.

Another `setState` just update the rows, but the scroll position is never updated until you manually scroll inside of the listview.

Check out this example where I'm changing rows from 100 to 25

[2017-11-18 16:42] naqvitalha commented on #77
Data Provider change immediately causes a change in height since a request layout immediately happens in the layout manager. This seems to be an iOS thing. I don't have time to look into this right now. Will appreciate if you can dig deep otherwise, I'll come back to this later.

[2017-11-20 17:54] naqvitalha commented on #58
Fixed in v1.2.0

[2017-11-20 17:54] #58 closed

[2017-11-20 17:54] naqvitalha commented on #3
Fixed in v1.2.0

[2017-11-20 17:54] #3 closed

[2017-11-20 17:55] naqvitalha commented on #62
Fixed in v1.2.0

[2017-11-20 17:55] #62 closed

[2017-11-21 13:07] AbdallaMohamed commented on #72
I'm interested in spending some of my free time on a PR. I'd appreciate it if you guys could help me with some tips on how to start with the PR. My assumption is that we could introduce a new prop `stickyHeaderType` or so, and for that type we calculate where it should start start sticking to the top and where it stops, using the same logic in my previous comment.

[2017-11-22 13:28] Fr1kki3 commented on #62
seems to be fixed yes thank you

[2017-11-23 03:41] naqvitalha commented on #72
That's awesome! I think the best way to go about it is to have a new scrollview with sticky header indices. Like FlatList does it. Thoughts?

[2017-11-26 04:49] naqvitalha commented on #72
Any progress here?

[2017-11-26 13:23] AbdallaMohamed commented on #72
Not yet. I'm going to work on it today and see what I can do

[2017-11-26 13:45] nsantacruz commented on #44
Any updates on this, @surya-kanoria ?

[2017-11-27 07:13] thamizh82 opened #81 "Recyclerlistview in middle of the page make scroll to only the listview not for full page"
I am using Recyclerlistview for my page, which is having first half with other functionality for site.
Then am using Recyclerlistview for data to render.

After integration the page scroll happens only to Recyclerlistview itself.  And only 10% of Recyclerlistview are visible.

How to make my entire page to scroll to view my full Recyclerlistview.
![flipkattest](https://user-images.githubuserconten

[2017-11-28 05:59] thamizh82 commented on #81
Team,

Kindly reply soon pls....

[2017-11-28 09:41] naqvitalha commented on #81
This looks like something from Android's Coordinator layout domain. There is no direct solution to achieve this right now since nested scrolling is a mess in react native. We'll need to build something similar to coordinator layout.

Check out the following links:
https://github.com/mohtada-h/react-native-nested-scrollview
https://github.com/facebook/react-native/issues/8024

Let us know if you fi

[2017-11-29 14:30] sm2017 opened #82 "Opacity = 0 VS Display = none"
Relative to https://github.com/Flipkart/recyclerlistview/issues/71

I want to know is there any difference between `Opacity = 0` and `Display = none` for hiding objects in recycle view

Is object with `Display = none` recyclable? I turn on `show layout bounds` and `Display = none` has no bounds but `Opacity = 0` has , So Is `Display = none` has inconvenient unmounts/mounts

[2017-11-29 14:51] AbdallaMohamed opened #83 "onVisibleIndexesChanged misbehaves when a ViewType is taller than the window's height"
I'm getting wrong values from onVisibleIndexesChanged. It's returning an empty array sometimes.

I reproduced it in a snack.
https://snack.expo.io/@abdallamohamed/recyclerlistview-onvisibleindexeschanged-bug

You can see the bug when you're scrolling through the list.

![nov-29-2017 15-48-11](https://user-images.githubusercontent.com/10912145/33380920-de7ea252-d51c-11e7-903c-02a7d2c50006.gif)

[2017-11-29 15:13] AbdallaMohamed commented on #28
@sm2017 You can use the `onVisibleIndexesChanged` callback, which return the type `TOnItemStatusChanged`. This is exactly what you're looking for.

`export declare type TOnItemStatusChanged = ((all: number[], now: number[], notNow: number[]) => void);`

[2017-11-29 15:42] naqvitalha commented on #82
As per my understanding display:'none' would still create the item but not put it in the view hierarchy. The display:'none' should be better, but do experiment yourself. Also, it would be interesting to see what you're building if you can share.

[2017-11-29 17:38] naqvitalha commented on #83
I looked at your expo sample, I actually noticed something strange. The bottom `<Text/>` is inside a `<ScrollView/>` and when the page renders the listview is mounted with a much smaller height and then it resizes. I guess it has something to do with how ScrollView's layout happens. If I change that to a `<View/>` it works fine. Link: https://snack.expo.io/BJ7weO3lM
For RecyclerListView to handle

[2017-11-29 17:55] AbdallaMohamed commented on #83
My bad, I was going to have the bottom scrollview as a log where I keep adding more lines for every time the onVisibleIndexesChanged callback is fired, but then I just decided to replace the text instead of appending to it.

For now, I made sure that none of my view types have a height larger than the window height. As a workaround until the bug is fixed.

And by the way, I'm considering supportin

[2017-11-30 08:38] farfromrefug opened #84 "view recycling and "prepare for reuse""
On iOs and android we use "prepare for reuse" to make sure a view is ready to be reused.
The simplest example is ```Image``` if there were an image already loaded and you set a new image that wont load (network error or such), you end with a view with the image for another cell.

Is there any way in your lib to set the image to "null" before it is reused?

Thanks

[2017-11-30 09:51] naqvitalha commented on #83
@AbdallaMohamed Yes you'll have to set `canChangeSize={true}`. The best part about orientation changes with RecyclerListView is that your firstVisibleIndex will get preserved automatically!

[2017-11-30 09:56] naqvitalha commented on #84
You can always call setNativeProps directly on the ref of the image in `componentWillReceiveProps`. That should do.

[2017-11-30 10:22] farfromrefug commented on #84
@naqvitalha thanks i ll try!

[2017-11-30 13:34] sm2017 commented on #82
I will share my experience
Thanks a lot

[2017-12-02 05:30] #82 closed

[2017-12-02 14:29] naqvitalha commented on #52
Check `extendedState` props in v1.2.2.

[2017-12-02 16:28] sm2017 opened #85 "Blank area"
I have a list with about 100 items . when I scroll I see blank area for 0.5 second

I try your sample with last version of react native
![](https://camo.githubusercontent.com/9d323f441b266a4aadfc63991e1904e25603e69d/68747470733a2f2f696d672e796f75747562652e636f6d2f76692f546e7634484d6d50674d632f302e6a7067)

It has not same performance like your YouTube and I see blank area . I test at release mode i

[2017-12-02 18:26] naqvitalha commented on #85
I'll link one of my tweets here https://twitter.com/naqvitalha/status/932129856762011648 . This is the grocery experience that we've built and you can see how well it does. Travelmate sample is not supposed to be a benchmark page because it's too simple. If you see blanks there then there is definitely some configuration issue. If you share your listview setup I can help.

[2017-12-02 18:36] naqvitalha commented on #85
Try this link in expo https://snack.expo.io/BkMrbw5TZ, much more complex and build on RLV.

[2017-12-04 16:34] sm2017 commented on #85
Please don't close issue . I read https://snack.expo.io/BkMrbw5TZ and my code is same as your code

I really don't know why my code has blank area . I am trying to repro my issue in snack

[2017-12-04 16:36] sm2017 opened #87 "Limit scroll speed"
How we can limit scroll speed?

[2017-12-08 04:53] naqvitalha commented on #87
There is no way to and you wouldn't want to because it'll impact the operating system's feel.

[2017-12-08 04:53] #87 closed

[2017-12-08 04:53] naqvitalha commented on #84
Close the issue if it worked.

[2017-12-08 15:56] tafelito commented on #64
@naqvitalha sorry not to get back sooner. I have double checked this, and I guess I was wrong. If you initialize the dataProvider with some data before mounting, then the onEndReached is not called. But if you initialize it with an empty array, then it is called. And that's actually a good thing. It allows me to load data always in one place instead of having to fetch it on cDM and onEndReached in

[2017-12-10 09:04] naqvitalha commented on #64
Layout provider is necessary to provide estimates. Let's say if you want to do initial Render Index and stuff. It also helps in optimizing quick scrolls and in finding out approximate number of items to mount on initial render. Bottom line is it's being put to good use so it's worth the investment. Try to stay as close to the real dimensions as possible.
Regarding the second question.. in new vers

[2017-12-10 16:09] punksta opened #88 "Support custom data source like VirtualizedList does"
Thanks for cool library.
DataProvider supports only array as data source. I want to use it with Immutable.js data structures

[2017-12-11 00:16] tafelito commented on #64
I understand that the closer you set the height the better is, but what if you don't really know or you there is no way of knowing what the size could be?

Regarding the Data provider, why do you think having something like getAllData will break the immutability? Couldn't you get all data, and add some more in a new array without mutating the original data and setting the new data provider? Or am

[2017-12-11 10:59] naqvitalha commented on #88
It is already possible. DataProvider can be extended into something custom. Check the following file: https://github.com/Flipkart/recyclerlistview/blob/master/src/core/dependencies/DataProvider.ts

Inherit DataProvider and override `getDataForIndex()`. Start using immutable collection instead of array. Let me know if you need further help.

[2017-12-12 10:22] punksta commented on #88
Worked, thanks.
this `data: any[]` stopped me. Maybe better to have an interface and then make existing DataProvider basic implementation.

[2017-12-12 10:22] #88 closed

[2017-12-12 13:47] rupamgho123 commented on #72
I too have a use case for sticky header, any chance this will be implemented soon ?

[2017-12-12 18:17] naqvitalha commented on #64
I think when you have no clue some approximate average will help. Anything is better than a zero. Any value other than zero can work. Having layout provider there will encourage developers to it right IMO.

Regarding the second part, you are right immutability will still be preserved. It's just that we don't keep data providers in store as of now so we didn't encounter this case. Eventually, we wa

[2017-12-13 12:16] sm2017 commented on #28
@AbdallaMohamed Thanks

[2017-12-13 15:59] hasanal1995 opened #89 "RecycleView needs to have a bounded size. currently height or, width is 0"
please help me ...!
when wrap recyclerlistview with react-native-pull-to-refresh give me that error !, and cannot accept flex:1,any one can help ??
any way to refresh ??

[2017-12-13 18:42] tafelito commented on #64
Thanks @naqvitalha! that'd e great

Let me know if I can be of any help

[2017-12-14 08:35] naqvitalha commented on #89
I don't think that library ever handled listviews. ListViews need fixed bounds to compute item layouts. Good thing is that RecyclerListView is built on top on ScrollView so RefreshControl should work. Check this: https://facebook.github.io/react-native/docs/refreshcontrol.html

[2017-12-14 08:41] naqvitalha commented on #64
@tafelito sure! Closing this.

[2017-12-14 08:41] #64 closed

[2017-12-14 14:22] hasanal1995 commented on #89
really thank you :), its worked but not fetch data even when refreshing occur!!

[2017-12-14 14:37] hasanal1995 commented on #89
@naqvitalha its worked, thank very much pro

[2017-12-14 16:54] naqvitalha commented on #89
Awesome, I'll close this one then.

[2017-12-14 16:54] #89 closed

[2017-12-15 09:55] nghialt opened #90 "Cannot scroll if nested inside ScrollView"
Hi,
I'm facing a problem that RecyclerListView cannot scroll if it's nested inside a ScrollView. It happens in Android, I haven't tested with iOs yet.
Do you have any idea about this problem?

Best regards,
Nghia.

[2017-12-17 10:27] hasanal1995 opened #91 "when set forceNonDeterministicRendering={true}, mistake in performance occurred :("
when set forceNonDeterministicRendering={true}, mistake in performance occurred :(, but i cannot set it to false; because layout will be damaged, any one can help??

this without forceNonDeterministicRendering but performance is high.
![43d6a89a-1569-47de-a33f-3f81d01c0055](https://user-images.githubusercontent.com/32715055/34078553-50e24586-e325-11e7-9215-358a44d8c610.jpeg).
and this with forceNo

[2017-12-18 05:25] naqvitalha commented on #90
Nested scrolling is a problem in react native. Since, RecyclerListView uses a ScrollView internally this will not work. In any case having a ListView inside ScrollView will kill virtualization. Why do you want this?

[2017-12-18 05:30] naqvitalha commented on #91
You layout looks deterministic to me. All items seem to be of fixed size. In any case, non deterministic shouldn't be much slower. There could be three things which are wrong:
1) Estimates dimensions are nowhere near the actual ones. This seems to be the case since your deterministic render looks way different.
2) Missing `shouldComponentUpdate` in your component which the `rowRenderer` returns. V

[2017-12-18 10:36] hasanal1995 commented on #91
please clarify, what is role of shouldComponentUpdate, rowRender, and rowHasChanged in performance of RecyclerView?
again, thank you very much

[2017-12-18 10:51] naqvitalha commented on #91
In case of non deterministic rendering RecyclerListView will render a few times for than regular. These cycles are to reposition items after actual render. Since the whole tree will re-render with the listview `rowHasChanged` and `shouldComponentUpdate` make sure that your items don't. RecyclerListViews self render is pretty cheap. Having these checks prevents your item from being rendered unneces

[2017-12-19 08:14] sam201401 commented on #90
I am using image slider with recyclerlistview then I am having problem with vertical scrolling is not working properly is there any solution to this and I tried other slider also

[2017-12-21 16:37] SudoPlz opened #92 "ScrollEnabled property?"
Hey there,

I was wondering if I can disable scrolling, i.e with a `scrollEnabled={false}` prop

Thank you.

[2017-12-21 17:30] naqvitalha commented on #92
Yes, you can. All `ScrollView` props work.

[2017-12-21 17:31] SudoPlz commented on #92
You're the best, thank you. I'm working on your implementation right now, trying to figure everything out.
Thanks for making this list.

[2017-12-21 17:31] #92 closed

[2017-12-21 18:42] naqvitalha commented on #92
I will prefer GitHub. But I do understand the need for slack.. I have created a new workspace https://join.slack.com/t/recyclerlistview/shared_invite/enQtMjkwMTc0MTEwNjI2LTYzNTllZmVlNzU1YzEwODQyMzU0ZjhlN2ExNjA3NzEwNzM1ZTQ0MmQyMWUxMTdmMmJjOTI2ZTgzMzJjY2JkYWI
But prefer git since it helps the community more.

[2017-12-21 19:36] SudoPlz opened #93 "The list stops responding to movement events unexpectedly?"
Here's how the issue looks like.

I have a horizontal `recyclerlistview`
At the beginning of the video you'll notice that even though I'm trying to scroll it's not responding.
Then for some reason it starts responding, and then it stops again.

<img src="http://g.recordit.co/zC6a0BAD8e.gif" />

As far as I know I'm not using any ScrollView parents, so why is that happening? I'm confused.

Thank yo

[2017-12-21 20:45] SudoPlz commented on #93
Ok found the problem, and it had nothing to do with the list view.. Sorry for the false flag.

[2017-12-21 20:45] #93 closed

[2017-12-28 05:53] naqvitalha commented on #84
Inactive for a while. Closing.

[2017-12-28 05:53] #84 closed

[2017-12-28 05:54] naqvitalha commented on #91
Inactive for a while. Closing.

[2017-12-28 05:54] #91 closed

[2017-12-28 11:51] naqvitalha commented on #72
@AbdallaMohamed Any update on this, would be great to have this

[2017-12-28 14:30] AbdallaMohamed commented on #72
@naqvitalha I'll get to this as soon as I can.

[2017-12-28 15:37] Barylskyigb commented on #85
I'm also seeing this problem, even with https://snack.expo.io/BkMrbw5TZ. If you scroll fast enough, you will see blank area for a moment. Tried it on iPhone 6.

[2017-12-28 15:40] Barylskyigb commented on #85
This blank space will be shown for longer if elements you are rendering are heavier. For example every element I render looks similar to this and consists of 60+ views itself:
<img width="368" alt="screen shot 2017-12-28 at 5 39 09 pm" src="https://user-images.githubusercontent.com/12055535/34415228-28e30f96-ebf6-11e7-8440-0115c3e2289d.png">

[2017-12-28 18:17] sellmeadog commented on #85
I'm having the same problem.  I get more scrolling blank space with RecylerListView than I do with a FlatList.  I have also mimicked the configuration showcased in https://snack.expo.io/BkMrbw5TZ without any luck.

[2017-12-28 18:40] naqvitalha commented on #85
@Barylskyigb @sellmeadog Most of the research that we have done around this reveals some irrefutable findings:
1) Scrolling on fastest speed on iOS can show blanks, kind of where you've been building momentum on top of a very large list like the one in sample. Even on iPhone X it happens, although things catch up in few milliseconds. JS thread overhead of RecyclerListView is much lower than that o

[2018-01-04 13:16] itchingpixels opened #95 "One of the first rows is blank"
Hi!

Thanks for this, it looks really useful!
We're having this weird issue, where one of the first 3 rows always comes up blank.
Not even scrolling around can solve the issue - but that may be connected to us having `disableRecycling` as `true`. (we want the previous cells in memory).

Is this something others have experienced?

[2018-01-04 13:18] itchingpixels opened #96 "Footer renders at the top before rows load"
Hi,

We're experiencing this issue where the footer renders first at the top, before the rows load.
Is this expected?

Thanks!

[2018-01-04 13:26] itchingpixels commented on #95
![image](https://user-images.githubusercontent.com/5416288/34565459-e5294a9c-f152-11e7-84f6-1105b3621682.png)
This is what our LayoutProvider looks liek

[2018-01-04 16:24] SudoPlz commented on #74
@naqvitalha do we have to necessarily set a parent width **and** height to the `View` that contains the `RecyclerListView`?

Even though we do know the width of the content of the `RecyclerListView`  we have no idea of the height. (We're using `RecyclerListView` as a **horizontal** list) so setting a fixed height on the parent `View` hides the content.

Any ideas?

[2018-01-04 18:01] itchingpixels commented on #95
Sorry, this has been solved. A mistake on our end! Closing this.

[2018-01-04 18:01] #95 closed

[2018-01-04 18:21] naqvitalha commented on #96
No it isn't. If you mount the list with empty data provider it might happen. Can you provide more details into what you're trying to do or, may be a screenshot?
If you have non zero estimated heights and never mount with an empty data provider then this should never happen.

[2018-01-04 18:35] naqvitalha commented on #74
@SudoPlz All you need is some inferable way to have determine dimensions to compute layouts. An example can help me understand better. If you can build whatever you're trying to with plain `ScrollView` then most likely it'll be possible with `RecyclerListView`. `RecyclerListView` can monitor `ScrollView` size changes if you set `canChangeSize` prop to `true`.

[2018-01-04 18:37] SudoPlz commented on #74
Basically the problem is that if people use huge Accessibility font sizes, then the height of the content should change, and I have no way of knowing that upfront.

What I tried though was, I used `minHeight` instead of `height` and the error is gone now.
Not sure if that's ideal what do you think @naqvitalha ?

[2018-01-04 19:01] naqvitalha commented on #74
It does sound like the solution for now. It will cause one set of layouts to get discarded but unless you have tens of thousands of items that shouldn't be noticeable. I'll get back if I can think of something better.

[2018-01-05 20:12] SudoPlz opened #98 "onVisibleIndexesChanged's now returns multiple children when only 1 is visible."
Hey there,
I'm struggling to find why I receive more than 1 views being visible, when there's only 1 view visible, and I believe this line is the problem:

https://github.com/Flipkart/recyclerlistview/blob/61486a61eed4f59e3cd1948cbe573cbfa8cd4bef/src/core/ViewabilityTracker.ts#L243

The item will be in the bounds even if the `itemBound` is exactly the same as the `window.start` or the `window.end`

[2018-01-06 09:32] naqvitalha commented on #98
Perfect timing, you are correct. I was actually working to fix https://github.com/Flipkart/recyclerlistview/issues/83. Issue with the same callback. Can you try `1.2.6-beta.4` to see if issue is resolved?

[2018-01-06 09:45] naqvitalha commented on #83
@AbdallaMohamed Can you check `v1.2.6-beta.4`? See if that fixes your issue.

[2018-01-08 21:30] SudoPlz opened #100 "UnableToResolveError: Unable to resolve module `recyclerlistview`"
I receive that error when building from master (because I want version 1.2.6 which is not yet published on npm), any idea why?

[code]

Any idea why?

Thanks!

[2018-01-09 04:47] naqvitalha commented on #100
1.2.6 was in beta.. was merged yesterday. To build from source run the build script since the source is in TypeScript. You'll need TypeScript, file-directives and TSLint present on your system.

[2018-01-09 04:48] naqvitalha commented on #100
1.2.6 was in beta.. was merged yesterday. To build from source run the build script since the source is in TypeScript. You'll need TypeScript, file-directives and TSLint present on your system.

[2018-01-09 07:55] SudoPlz commented on #100
Got it, thanks for letting me know :)

[2018-01-09 07:55] #100 closed

[2018-01-09 13:03] naqvitalha commented on #83
Fixed, closing

[2018-01-09 13:03] #83 closed

[2018-01-09 13:03] naqvitalha commented on #98
Fixed.

[2018-01-09 13:03] #98 closed

[2018-01-09 13:04] SudoPlz commented on #98
You're the man, thanks I'll try 1.2.6 today.

[2018-01-10 12:09] SudoPlz opened #103 "(Android only) onVisibleIndexesChanged callback not always firing"
Hey there I have no idea what causes this but even in 1.2.6:

- there are times even I change the month no events are being fired.

I debugged a little bit and found that the reason is that when that recycler calculates the visible indices, the old visible indices array is the same with the new indices array, so nothing gets dispatched.

- ALSO when the `recyclerlistview` is first mounted, I recei

[2018-01-10 17:10] SudoPlz commented on #103
Ok I did some digging and found that the second issue is because of decimal points here:
https://github.com/Flipkart/recyclerlistview/blob/61486a61eed4f59e3cd1948cbe573cbfa8cd4bef/src/core/ViewabilityTracker.ts#L243

In my case the `window.end` was `100.71469` and the `itemBound` was `100.71428` and therefore for `0.00041` pixels the next screen was considered to be visible. Rounding to 1 decimal

[2018-01-10 18:28] SudoPlz commented on #103
If you think `_.round` may affect performance, you can use anything to `truncate` the float decimals, but I'm not that good with typescript, so I wasn't sure if I can use `Math.trunc`

[2018-01-11 12:25] naqvitalha commented on #103
Are you using  non deterministic rendering? Rounding off will be a double edged sword because it might fix your use case and break others. Can you share your layout provider implementation?

[2018-01-12 07:15] mytc opened #105 "How to implment dynamic data source like load more features."
I wonder if this can be used for dynamic data source, like the load more features. So far I see their are no methods on for scrolled event. Unlike flatlist, there are ` onRefresh` , `onEndReached` etc for this scenario.

Is this feasible? If so, how?

[2018-01-12 10:28] naqvitalha commented on #105
`onEndReached` is already there. Just use `cloneWithRows` with new data to get new data provider and pass it to the list. Check this link: https://github.com/Flipkart/recyclerlistview/blob/593b7636264a49eb17bf75f88513420b8f0c9b85/src/core/RecyclerListView.tsx#L478-L547 other than these most `ScrollView` props are also supported.

[2018-01-12 16:08] naqvitalha commented on #103
I tried the expo. First visible month was January. And I don't even get the second issue. What is happening? Device specific issue?

[2018-01-12 16:08] naqvitalha commented on #103
I tried the expo. First visible month was January. And I don't even get the second issue. What is happening? Device specific issue?

[2018-01-12 16:55] SudoPlz commented on #103
I'm running this on a `Nexus 5X @ 8.1.0`, and I don't think it's device specific issue (we had lot's of users reporting the same behaviour on various devices) as we're using that code on production.

- First issue is that the first month is January (because there are 2 onVisibleIndexesChanged being dispatched upon mount (the first one is the right one and the second one is wrong).

- The second is

[2018-01-12 17:38] naqvitalha commented on #103
Truncating is a problem in non deterministic rendering where item widths and heights can be very irregular. It would be very hard to figure out if that rounding off will lead to right or wrong. E.g in our search page a lot of time our rendered item heights are like 120.56003... Assuming anything is very hard there

[2018-01-12 19:15] naqvitalha commented on #34
Fixed in `v1.2.6`

[2018-01-12 19:15] #34 closed

[2018-01-12 19:16] naqvitalha commented on #85
Inactive for a while, closing.

[2018-01-12 19:16] #85 closed

[2018-01-12 19:17] naqvitalha commented on #81
Inactive for a while, closing.

[2018-01-12 19:17] #81 closed

[2018-01-12 19:18] naqvitalha commented on #90
@nghialt did you find any workarounds?

[2018-01-13 17:24] mytc commented on #105
@naqvitalha, yes you are right!! It works!! Thanks.

For anyone interested, one thing need to take concern is , when you update your data, and want to concatenate the data, you need concatenate to "_data" of the previous result.

[2018-01-13 17:24] #105 closed

[2018-01-13 21:03] AbdallaMohamed commented on #105
@mytc Is accessing `_data` a good idea though? I'd say using the array that you supplied RLV with would be a better option. You never know what the inside implementation of the library is and it could change. Making your code independent of the library's implementation is usually a good idea.

[2018-01-13 21:07] AbdallaMohamed commented on #77
A little bit of a late reply, but I've just had the same problem with the normal ScrollView on iOS. React native doesn't update the scroll position when the content of the scroll view change and it becomes smaller. Just thought I'd share this obvious observation.

[2018-01-14 06:09] naqvitalha commented on #105
@mytc I agree will @AbdallaMohamed here. Modifying private properties is never a good idea since they're always open to change. You however get a getAllData() method on the data provider to get the array back. The best way to do this is what Abdalla mentioned hold on the the original array.

[2018-01-14 06:12] naqvitalha commented on #77
Thanks for the update! Did you raise an issue with RN? If you did reference it here.. I might ask our iOS team to look into the RN issue

[2018-01-15 18:25] mytc opened #108 "Initial null dataprovider error only happened in some devices."
I initially I want the state of data to be empty, so in my constructor:

[code]
Problem is I got this error.

But this error only appear in one of my phone. Nexus 4 is fine ,but I got this error from Xiaomi Phone.

ps:
I am using https://github.com/jasonmerino/react-native-simple-store for storing and retrieve the data , I got other screen which retrieve data from remote web api, work totally fine

[2018-01-15 18:48] naqvitalha commented on #108
The issue is simple if you look at it, `res` being passed to `cloneWithRows()` is null. Now why that is happening is upto your implementation. I don't know how `react-native-simple-store` works. In any case this isn't related to RLV.

[2018-01-16 04:02] mytc commented on #108
@naqvitalha , ok thanks for the explanation.

[2018-01-16 04:02] #108 closed

[2018-01-17 11:56] witalobenicio opened #109 "RecyclerView seems to be setting width to Views"
I get the width from `Dimension.get("window")` but when I get my data, it seems that RecyclerView is maybe setting the width value to all my `<View>` components.

For example, my item:

[code]

The view with 'position: relative' inside my styles.card View, is getting the full width

[2018-01-17 12:06] witalobenicio commented on #109
Solved it by setting 'flex:1' to the root object.

[2018-01-17 12:06] #109 closed

[2018-01-17 12:08] witalobenicio opened #110 "How can we work with dynamic height?"
If I have a component that some times shows just 1 line of text (short name) and some times 2 or 3 lines?

[2018-01-17 14:45] naqvitalha commented on #110
`forceNonDeterministicRendering={true}` will do that. And over the last couple of release it has become very fast, nothing to lose really. Once you do this the values given by your layout provider are considered as estimates.

[2018-01-18 19:19] doublex opened #111 "Left and right column"
Is it possible to create two columns, like:

<img width="184" alt="nfqav" src="https://user-images.githubusercontent.com/274624/35116738-c8c32216-fc8c-11e7-87e5-3d54097bd025.png">

[2018-01-19 20:15] naqvitalha commented on #111
Not possible out of the box. You'll have to write masonry layout manager. If you're up for it I can help you out.

[2018-01-22 07:02] mytc opened #112 "How to disable scroll bar when using horizontal mode?"
In scrollview we have this `showsHorizontalScrollIndicator` to disable it, but it does not work in recyclelistview.  I have use ` useWindowScroll = { false }` , but its still not working.

Any idea?

[2018-01-22 12:33] AbdallaMohamed commented on #72
I've having trouble working on RLV and linking it to be used in another project where I'll be testing my changes. Any tips on how to set this up? @naqvitalha

[2018-01-23 09:12] Gr1ver opened #113 "[Question] Is it possible to implement Tile View with RecyclerListView"
I wonder if it possible to use RecyclerListView for some sort of tile view. I want to render a set of images with predetermined count in horizontal and vertical dimensions, where all images has the same specific size.
Also with ability to scroll at all directions like this
![c9b9cfec-ff60-11e5-827c-6a550dff97e6](https://user-images.githubusercontent.com/10825987/35266530-9efb5c18-0034-11e8-90a5-ca

[2018-01-24 16:58] naqvitalha commented on #112
`showsHorizontalScrollIndicator` does work. Are you sure that you're doing it correctly? Also, this prop doesn't work on web.

[2018-01-24 17:02] naqvitalha commented on #113
Doing tile layout is possible. Just give the relevant layout and see if it works for you. Scrolling in multiple directions is not supported right now. You can workaround it though. Try wrapping it in an fixed height horizontal ScrollView. Masonry is not supported.

[2018-01-24 21:01] naqvitalha commented on #72
@AbdallaMohamed Just clone the project and make changes in TypeScript code. There are few scripts in the package.json. You need to run the setup script once  post that run build when you make changes. Build will generate a dist folder to which the package points by default. Let me know if this unblocks you.

[2018-01-25 01:45] gilra2000 opened #114 "reverse mode ?"
Is it possible?

please

[2018-01-25 06:24] mytc commented on #112
Ok, thanks.

[2018-01-25 06:24] #112 closed

[2018-01-25 06:50] mytc opened #115 "calculate next view position"
I am trying building swiping gallery with this package, it works like a charm when deal with swipe left or right gesture. However, I want to add another tap gesture to scroll left or right, this is not supported natively.
So, here is my implementation.
[code]

The problem is how to I calculate the next position based on the current position?  I do have fixed width with the screen width.

[2018-01-25 07:08] mytc commented on #115
I managed to figure it out. Turn out I can use `onScroll` to set the state of current width.

[code]

[2018-01-25 08:36] jf4444 opened #116 "recyclerlistview in web Support RefreshControl?"
recyclerlistview in web Support RefreshControl?

I'm current use it to react web, but I don't find anyway to support pullRefresh..

[2018-01-25 10:30] AbdallaMohamed commented on #72
@naqvitalha  I've been able to do that just fine. It's the `npm link` that's tricky though. Does the react native bundler respect npm links? I need to start another project and have my `import from recyclerlisview` point to my local project instead.

[2018-01-27 07:54] naqvitalha commented on #116
Yeah I think react-native-web doesn't have it right now. Our ReactJS implementation also lacks it. But don't you think browser pull to refresh is enough anyway?

[2018-01-27 08:31] naqvitalha commented on #115
Actually you have `onVisibleIndexesChanged` callback to do the same. Also, we already provide a `scrollToIndex` method so, you might not need to compute the offset.

[2018-01-27 08:32] naqvitalha commented on #114
Yes it is. It is actually very easy to do in any list. Use `ScaleY: -1` transform on the list post that do the same for all items being rendered. Let me know if this helps.

[2018-01-27 08:54] Komeyl94 commented on #70
I still have an issue with calculating heights of my items using data,
I used this approach where I tried to use `getDataForIndex` but nothing rendered on the screen:
[code]
then I used this approach and it didn't work:
[code]
I also tested this:
[code]
this code only calculates 106 as the height of all items! and ignores all the conditions!

am I missing something here, how can I calculate item h

[2018-01-27 09:06] Komeyl94 opened #117 "Calculating height of item"
This is probably related to #70;
I still have an issue with calculating heights of my items using data,
I used this approach where I tried to use `getDataForIndex` but nothing rendered on the screen:
[code]
then I used this approach and it didn't work like before:
[code]
I also tested this:
[code]
this code only calculates 106 as the height of all items! and ignores all the conditions!

am I missi

[2018-01-27 10:15] naqvitalha commented on #117
The `dim` object being passed to you is reused. In case you fail to set it the older value will be used. I think that's what is happening in your case. Use debugger to check if any condition is being hit at all. Also, if computing height is too complicated you can use `forceNonDeterministicRendering={true}`, it might make your life simpler. Let me know if this helps.

[2018-01-27 17:38] mytc commented on #115
really?  Will it better then my method in term of performance?  It's lack of documentation though.

[2018-01-28 06:03] naqvitalha commented on #115
Yes, doing a `setState` on `scroll` event is not a good idea. If you can explain what exactly you're trying to do I might give you a better option.

[2018-01-29 02:59] jf4444 commented on #116
@naqvitalha You mean let the user click on the browser refresh button to refresh?

[2018-01-29 03:49] mytc commented on #115
Basically I am building a pictures gallery where the source is from a rest api server.
I want to implement  a feature where when user tap on the both left and right edges (with certain width from the edge) , user able to navigate to left or right.

Right now I am storing the current offset in state in the onScroll methods and use it for calculation when navigate. I am using fixed screen orientatio

[2018-01-30 10:52] Komeyl94 commented on #117
@naqvitalha thanks for the response.
It actually hits all the conditions but apparently it just ignores setting the height for each item, what can be done here?
Also about using `forceNonDeterministicRendering`, I've already tested that but it does not look good while loading, cause it's determining the height on load and it makes the items kind of jumpy! I mean what should I set for `dim.height`

[2018-01-31 10:13] naqvitalha commented on #117
Default mode treats given dimensions as exact, if you're setting them correctly it should work. If you can provide a small repro on expo I can locate the problem. This works as expected in our projects.
Regarding `forceNonDeterministicRendering` issue, we definitely don't want things to move around, that is not expected and we have put in safeguards for that. Can you make sure you have a `shouldCo

[2018-01-31 10:16] naqvitalha commented on #115
You don't really need to store it in `state`. Even a local variable will do, calling `setState` triggers component update which you can easily avoid.

[2018-01-31 15:14] Fernando-Parise opened #118 "textInput with recyclerListView"
[Jan 31 2018 1_02 PM.zip](https://github.com/Flipkart/recyclerlistview/files/1682132/Jan.31.2018.1_02.PM.zip)

Hello everyone, I'm seeing the operation of rescyclelistview, but I'm having a hard time.
My situation is as follows:
I have a great list of products. but in addition to each item I can add / decrease quantity or write in textinput. but when I click on the textinput the list does not get

[2018-01-31 16:02] AbdallaMohamed commented on #118
Did you try using a keyboard avoiding view?
 https://facebook.github.io/react-native/docs/keyboardavoidingview.html

[2018-02-01 05:54] scottbrassfield opened #119 "Outer View width gets set to 1 on Android when used in TabNavigator from react-navigation"
I am trying to add the example RecyclerListView to my app, as one of my tabs inside of the root TabNavigator from react-navigation. On iOS, this works without a problem, and I can see the example list perfectly. However, the list on Android is not rendered properly.

The difference seems to be that the outer View component that contains the ViewRenderers as rendered by the ScrollComponent gets a w

[2018-02-01 10:09] Fernando-Parise commented on #118
I am a beginner in reac-native development. I did not know that this process existed. I'll try to use it.
thank you.

[2018-02-01 17:56] mytc commented on #115
Yes, you are right. Using accessing the local variable improved a lot. Thanks.

[2018-02-01 22:13] Fernando-Parise commented on #118
Thank you very much. Completely solved my problem.

I just put the following code:
         <KeyboardAvoidingView
              behavior = "padding"

[2018-02-01 22:14] #118 closed

[2018-02-02 15:00] #113 closed

[2018-02-05 08:10] Komeyl94 commented on #117
I didn't have `shouldComponentUpdate` but I was't running on dev either, I've actually made a [snack](https://snack.expo.io/@komeyl94/recyclerlistview-test) on expo.
Performance on this snack in actually good, but there's some differences between my project and this repo, the data I've provided on expo is static containing 80 posts that has a lot of photos in it, with different post styles, but on

[2018-02-06 07:12] naqvitalha commented on #117
@Komeyl94 For some reason snack is not working for me. I checked multiple devices. I can look into the repo, no problem. Happy to help :)

[2018-02-06 11:06] Komeyl94 commented on #117
Thank you for your help,
The repo had an error which I fixed earlier, now you may be able to run it
However I think the main reason for performance (or more precisely render) issues is lack of `rowHasChanged` and `shouldComponentUpdate` which you mentioned earlier or in other issues.
Here's a screenshot from the app, which you can see in multiple posts either the height is not set correctly or the

[2018-02-06 12:30] naqvitalha commented on #119
@muskeinsingh can you please help here? Never dealt with this case.

[2018-02-06 12:36] muskeinsingh commented on #119
Sure. Will look into it.

[2018-02-06 14:07] naqvitalha commented on #117
Few things I found wrong with the code:
1) Estimated height was 1 and it needs to be an actual estimate for optimal performance.
2) Instead of having one type called "DEFAULT" have multiple ones backed by their own components. Right now the problem is that you have one big component which renders separate stuff based on conditions why now let `rowRenderer` choose a component instead. You have some

[2018-02-07 15:57] nghialt opened #121 "Mock recyclerlistview"
Hi I'm new here. Has anybody succeeded in using mock with `recyclerlistview`?
I have searched around but not found any solution yet.

[2018-02-08 14:11] HemrajLodha opened #122 "row not removing"
I want to remove row from list. after splice item from state data, data provider not removing from list.

using this data provider
[code]

[2018-02-09 09:16] naqvitalha commented on #122
You need to create a new one with updated data and re-render. I think you're just changing the existing one.

[2018-02-10 08:43] alpamys-qanybet commented on #72
@AbdallaMohamed, I found your workaround very nice, can you share your code?

[2018-02-12 05:07] naqvitalha commented on #122
If you can please share the code I can help you. It's pretty straightforward.

[2018-02-14 06:38] naqvitalha commented on #121
Can you give a bit more explanation about the use case? Haven't personally used mock.

[2018-02-14 07:50] Komeyl94 commented on #117
Thanks a lot for this, it really helped 👍

[2018-02-15 04:56] naqvitalha commented on #117
Glad to help, closing.

[2018-02-15 04:56] #117 closed

[2018-02-15 04:56] naqvitalha commented on #114
Assuming this to be resolved. Closing.

[2018-02-15 04:56] #114 closed

[2018-02-15 04:57] naqvitalha commented on #28
We'll continue tracking this in #72. Closing.

[2018-02-15 04:57] #28 closed

[2018-02-15 04:58] naqvitalha commented on #77
Closing dude to lack of activity.

[2018-02-15 04:58] #77 closed

[2018-02-15 04:58] naqvitalha commented on #96
No activity. Closing.

[2018-02-15 04:58] #96 closed

[2018-02-15 04:59] naqvitalha commented on #103
Any update?

[2018-02-15 05:00] naqvitalha commented on #110
Since the functionality is already present I'll be closing this.

[2018-02-15 05:00] #110 closed

[2018-02-15 05:01] naqvitalha commented on #116
@jf4444 chrome and other browsers on mobile have pull to refresh by default. They reload the page though.

[2018-02-15 05:01] naqvitalha commented on #115
Great. Closing.

[2018-02-15 05:01] #115 closed

[2018-02-15 05:05] naqvitalha commented on #111
Let's track this in #76. Closing.

[2018-02-15 05:05] #111 closed

[2018-02-15 05:06] naqvitalha commented on #119
@muskeinsingh can you please resolve this?

[2018-02-15 08:43] SudoPlz commented on #103
Not really, I still get that issue. It's a real pain, and I'm using hacks to determine what's visible, and that doesn't always return the right index.
Not sure what I can do. Is there anything I can do on my end to help get to the bottom of this?

[2018-02-15 22:46] Ciberusps opened #124 "Mobx Invariant failed"
Error: [mobx] Invariant failed: Side effects like changing state are not allowed at this point. Are you trying to modify state from, for example, the render function of a React component?

I try to pass clicked item id in _rowRender method like this:
[code]
How to use it right?

[2018-02-16 22:35] jveres opened #125 "Missing sample data for snack demo"
https://snack.expo.io/rksoUdx-f

Sample data for this demo seems to be removed from Dropbox:
https://www.dropbox.com/s/dmrfa9b2043fa2t/catalog.json?raw=1
https://www.dropbox.com/s/txkz5gf755g6e4y/catalog_small.json?raw=1

[2018-02-17 09:37] naqvitalha commented on #124
Can you provide a sample to help us debug the issue? A snack or repo with repro will do.

[2018-02-17 10:13] naqvitalha commented on #125
Thanks for letting us know. I'll remove the sample for now. Will add a new one later.

[2018-02-20 08:34] sm2017 opened #127 "Fix scroll position for dynamic contents"
I want to create an infinite scroll view using  recyclerlistview in both direction (up and down)

When I load more contents , the following code executed

[code]

Here the scroll offset will reset to zero and scroll go to the top

I use `scrollToOffset` to change the offset to `getCurrentScrollOffset()+heightOfNewContents` when scrolling to up direction , `scrollToOffset` works accuracy well but I

[2018-02-20 08:50] AbdallaMohamed commented on #127
You shouldn't be creating a new instance of the DataProvider. Just use the existing one.

[code]

Note that if you add items to the top of the list the scroll position won't be maintained though. You could try to do that imperatively.

[2018-02-20 09:57] ssssssssssss commented on #119
TabNavigator on Android have an initialLayout set to width:1 to avoid some bugs. You can either provide the intialLayout for TabNavigator or initialize the list lazily.

[2018-02-20 09:59] naqvitalha commented on #127
Remember `scrollToOffset` is an async call. So it might be difficult. In any case I would need a snack repro to look into this.
@AbdallaMohamed you are right although `cloneWithRows` will also create a new data provider but it optimizes layout recompute.

[2018-02-20 10:11] sm2017 commented on #127
@AbdallaMohamed I test your approach and see that is not working as I expected

When the scroll reaches at top I add items to the top of the list and if before loading items you see 100th item I want scroll show 100th item after scrolling , but it show top item

Can you show me an example code?

[2018-02-20 10:39] AbdallaMohamed commented on #127
@sm2017  I'm doing an ugly workaround right but at least it preserves the scroll position.

Before setting the state with the new dataProvider. I get a reference to the top row in the list. Then I set the state, and afterwards, I calculate the index of the top row and then I call `scrollToIndex`.

[code]

[2018-02-20 11:53] muskeinsingh commented on #119
Hey @scottbrassfield and @ssssssssssss, I tried the samples of recyclerlistview and Tab Navigator by react-navigation and included them in one app. It just worked out of the box on both Android and iOS. Checkout the Snack Link here - https://snack.expo.io/r11citYvz

Do let me know in case there's something specific you're trying to achieve.

[2018-02-20 14:28] sm2017 commented on #127
@AbdallaMohamed your approach don't works as I expected

@naqvitalha I will send a working expo demo asap

[2018-02-20 15:06] AbdallaMohamed commented on #127
@sm2017 I think what you're describing is the same issue that I struggled with before. Check out this snack and let me know if it helps.

https://snack.expo.io/@abdallamohamed/preserving-scroll-position-with-recyclerlistview

[2018-02-20 15:20] sm2017 commented on #127
@AbdallaMohamed your expo code preserves scroll position (but not accuracy in pixel)
But the problem is when you load more data   in a small moment your view refreshes and we see blank areas for milliseconds

[2018-02-20 15:22] AbdallaMohamed commented on #127
@sm2017 Yeah, it's a compromise I had to accept. I'd love to see what @naqvitalha has to say.

[2018-02-20 16:02] naqvitalha commented on #127
Try this https://snack.expo.io/S1zKr6tPf. Even though it's a hack (uses private api) but it certainly proves that it is possible. Also, note none of these solutions work in between a scroll. Maybe we can transform the whole list instead to correct the offset. Post the animation work we will be introducing stableIds while will improve this further and the flicker will go away automatically without

[2018-02-20 16:15] sm2017 commented on #127
@naqvitalha I cannot understand why `renderAheadOffset` is very important here

[2018-02-21 05:09] naqvitalha commented on #127
It removed the flicker, the reason for it was that items are moved to that location post the manual scroll request. Since this is async there is one frame where there are no items. In the the `renderAheadOffset` ensures that there is something drawn already there.

[2018-02-21 05:41] Ciberusps commented on #124
Sorry that so long. Delayed due to expo snack not support decorators. I used mobx observable variable to store data provider(to follow "best practices" of mobx - replace internal react component state) if u have same issue just dont do it use react react.

Thank u for reply u can close issue.

[2018-02-21 05:43] #124 closed

[2018-02-21 06:15] sm2017 commented on #127
To remove the flicker you generate 10 item each time and set `renderAheadOffset` equal to 10x`dim.height` = 1000 , what about `forceNonDeterministicRendering=true` is it working?

Can `renderAheadOffset` be dynamic because may be one page has 10 items another has 2 items

[2018-02-21 06:29] YogeshYo opened #128 "RecycleView needs to have a bounded size. currently height or, width is 0"
I need to place recylerlistview inside scrollview  to develop required UI structure. When I place recylerlistview inside scroll view I get "RecycleView needs to have a bounded size. currently, height or, width is 0" . Any workaround? Thanks

[2018-02-21 10:08] naqvitalha commented on #128
Nested scrolling doesn't even work in react-native. Why would you want this? You can give a height to RLV to make it work. But I won't recommend it.

[2018-02-21 11:50] sm2017 commented on #127
@naqvitalha Why infinite scrolling to down is more easier that scrolling to up ?
Unfortunately I need both direction

[2018-02-22 12:06] sm2017 commented on #127
@naqvitalha is there any tricks for `forceNonDeterministicRendering=true`

[2018-02-22 12:30] YogeshYo commented on #128
Thank You for your response. I found a workaround.

[2018-02-22 13:25] naqvitalha commented on #128
Great. Closing.

[2018-02-22 13:25] #128 closed

[2018-02-22 14:59] ssssssssssss commented on #119
@muskeinsingh It may related to specific versions of react-navigation and different setup. This is the code I contributed to work around nested tab bugs in https://github.com/react-navigation/react-navigation/pull/2733 , and later a better approach merged here: https://github.com/react-navigation/react-navigation/pull/2843

[2018-02-24 12:07] sm2017 commented on #127
@naqvitalha Help please

[2018-02-25 11:06] sm2017 commented on #127
@naqvitalha 😭 help needed!

[2018-02-25 19:26] naqvitalha commented on #127
@sm2017 if you can cache layouts yourself it might work. The same solution will work only if you know exact heights. Why don't you start caching them externally?

[2018-02-26 15:50] sm2017 commented on #127
@naqvitalha How exactly??
Assume I have added items 900-999 in data provider and when user scroll to top I prepend items 850-899 so as I cannot know exactly the heigh of new items , How can I use cache approach ?

At first time how can I read from cache as there is no cache?? Must I render items outside view? And mount again inside?? It is expensive

[2018-02-26 16:28] tafelito commented on #127
@naqvitalha I just tested your snack code but in a web project. It seemd not to be working as native. What I saw debugging it is that the scrollcomponent does not have a ref [here](https://github.com/Flipkart/recyclerlistview/blob/7a22642426d6d6dbba908a1b651ab40e6270c8e4/src/platform/web/scrollcomponent/ScrollComponent.tsx#L35) when calling the scrollToOffset
I am also interested in know if using

[2018-02-26 16:45] naqvitalha commented on #127
@tafelito Try `1.3.0-beta.11` that was an old bug. Will be fixed in `1.3.0` which is being tested internally.
@sm2017 What is your majority use case? Is it like a chat app? Remember chat can be done using the inverted mode that you can easily build. Caching strategy can work to some extent but it will never be perfect in non deterministic mode. This is something we need to work on. You can try the

[2018-02-26 17:25] naqvitalha commented on #127
@tafelito check https://codesandbox.io/s/lr20lpypvq

[2018-02-26 18:01] tafelito commented on #127
@naqvitalha Awesome that worked and I like it works with react-native-web too because right now that wasn't working either.

regarding @sm2017 request, I'm also thinking on how to make it work even if using inverted for a chat app. Not every message in a chat has the same height. So how do you now the renderAheadOffset value beforehand? Or if you have a feed like twitter's

Also regarding the inve

[2018-02-27 05:30] HemrajLodha opened #131 "RecyclerListView needs to have a bounded size"
RecyclerListView needs to have a bounded size. Currently height or, width is 0

Getting this issue when property forceNonDeterministicRendering={true}

[code]
is there any solution ?

[2018-02-27 05:37] sm2017 commented on #127
@naqvitalha I need for chat app but inverted prop is not solution because , I have both up/down direction infinite scrolling

You can scroll up to we history
You can have many unread message and scroll jump to first unread message , then you can scroll down and fetch new messages from server in lazy approach

[2018-02-27 09:05] naqvitalha commented on #127
You can fetch new messages on coming down and smoothly insert using animations. Wouldn't that help? See I do have a solution for this but that is still quite far away. I'm thinking to transform entire list to lock scroll positions. I'm sure that will work but I can't start doing that because I need to do sticky headers and stableId work before that. You can experiment around it though.

[2018-02-27 09:09] naqvitalha commented on #131
Setting `flex:1` on RLV should fix it. Same as #74

[2018-02-27 09:09] #131 closed

[2018-02-27 09:29] sm2017 commented on #127
@naqvitalha Can you share more details about **transform entire list to lock scroll positions**

[2018-02-27 09:46] AbdallaMohamed commented on #127
@naqvitalha I'm loving what you guys are doing with this library! Just out of curiosity, how do you intend to implement sticky headers?

[2018-02-28 09:53] naqvitalha opened #132 "Benchmarks against react-virtualized and FlatList"
It would a great idea from someone other than our team to run these benchmarks and publish results. Although internally we have done this, some external validation will help. Great first issue. A blog or, readme any will do.
We can also help make sure that all ListViews are written in their best possible way.

Thanks!

[2018-03-01 02:27] aaemman commented on #119
@muskeinsingh after taking a look at your snack, and copy and pasting the component into my own application, I've found that while your exact code works, simply rendering the settings tab first breaks the rendering of RLV.

Though if I open your snack via expo (after changing the settings tab to be the first tab) it still works as expected.

It seems strange to me that this would work in Expo and

[2018-03-02 15:31] aaemman opened #133 "Pixel 2 XL can't render multiple columns"
When trying to render a RLV on a Pixel 2 XL, all cells set to 50% width display as rows of 1 left aligned item, instead of being rows of 2 items, one left aligned and one right aligned.

Th is problem doesn't seem to occur when rendering the exact same code on a Samsung Galaxy S8 or an iPhone.

![screenshot_20180302-102950](https://user-images.githubusercontent.com/2026893/36906757-c5cd3954-1e04-1

[2018-03-02 16:03] aaemman commented on #133
UPDATE: It seems that this issue only happens if the children take up exactly 1/2 of the width, anything below 1/2 works as expected

[2018-03-02 16:46] naqvitalha commented on #133
Yeah, just offset width by 0.0001 on one of the items yourself just to be safe. This does happen. Anyways, more kinds of LayoutManagers will be coming to RLV in the future.

[2018-03-03 15:59] sm2017 commented on #127
@naqvitalha Have you plan to implement `lock scroll positions` feature? Can you share some details about your idea? When you think it is implemented?

[2018-03-07 14:07] siebeprojects opened #135 "Horizontal RecyclerListView on iOS does not re-layout when deleting items"
Hi,

Given the included screenshots.
RED Color is the RecyclerListView
BLUE Color is the contentContainerStyle inside the RecyclerListView.

The selected items in the vertical page are the same as the items in the bottom horizontal RecyclerListView.

The problem is this:
1. I scroll all the way to the last item in the horizontal RecyclerListView so that "Agentina" is visible.
2.  I deselect "Angui

[2018-03-08 18:24] naqvitalha commented on #135
It is actually a ScrollView bug in iOS and not related to RLV. @siddhantsoni can we fix this the way fixed offset issue in react-native? Check #77

[2018-03-12 18:32] necolas opened #137 "Further improvements for RNW"
There are a few places where I think the implementation could work better with RNW. The "web" implementation may be OK for React DOM apps, but since it doesn't rely on RNW at all, it can't provide related functionality like automatic RTL layout flipping. The "react-native" implementation on web pulls in `Animated` which can add to the bundle size and runs animations on the main thread. I noticed s

[2018-03-13 05:55] sm2017 commented on #127
@naqvitalha Reply please

[2018-03-13 09:32] thamizh82 commented on #81
I solved this issue by appending dummy header content to the result data.
e.g
var headerData = [{ 'headerData': 'dummytext' }];
var outputData = headerData .concat(resultsetData);

In Recyclerview
rowRenderer=this._renderRow;

_renderRow(type, data) {
    if (data.headerData == 'dummytext') {
         return (<View>Your header content</View>)
    }
    return return (<View>Your real data</View>)
}

[2018-03-13 12:49] naqvitalha commented on #137
@necolas
## Web vs RNW vs RN
There is hardly any difference between the web and the RNW implementation. The web version was initially created for pure web use. However, they both can be matched easily. I'll explain the problem:

Items in RN are positioned using left/top while in web using transforms. Using the former on web also introduces some extra layout overhead. It might be negligible but it

[2018-03-13 16:07] LouisJS opened #138 "[SUGGESTIONS] Add Popular Use-case"
Thanks for this library. It looks awesome, and is very useful in the current RN ecosystem.

Therefore, it would be nice to make available to new users common use-case needed in real-world apps.

For instance, it would be nice to have an example that loads data from an API (componentDidMount). Both example you provide are using generateData or Mockup Data.
As some logic takes place in the construct

[2018-03-13 18:24] necolas commented on #137
I didn't understand the bit about transforms and onLayout.

I think browsers need to give developers the ability to control the browser nav bar. There is a proposal to let you define the root scroller other than body. Personally, I don't think it's that important to have the bar collapsing and focus should be on installed PWA use case. But there are other quirks on desktop browsers where scroll ba

[2018-03-14 16:47] naqvitalha commented on #138
I have shared the link to props btw. And they're well commented. Most people have been able to understand through those. https://github.com/Flipkart/recyclerlistview/blob/afd7d80c13bad68ddbb60849ccda47ccef3ecda2/src/core/RecyclerListView.tsx#L488-L566
I do understand the need for better documentation but I would really want the community to help me there. I need to finish my work here first, I hav

[2018-03-14 16:58] naqvitalha commented on #137
Yeah it's a little difficult to understand. Simply put I would want to use `div` to wrap around `View`. That enables me to use transform for layout so it's worth it. Performance will be identical then. It would help if you can help me style it similar to a `View`.  If you're wondering why I'm not using `View` itself, that is because for my most optimal implementation I would need to observe dimens

[2018-03-14 17:01] necolas commented on #137
Let's just not debounce layout calls in View.

I'd also mention your pain with the browser bars to the chrome and uc browser teams; it might help speed up efforts to provide developers with more control over that pattern.

[2018-03-14 17:04] naqvitalha commented on #127
@sm2017 Let's say my first visible index was 5, I can compute it's offset from top and after inserting items I can transform the whole list such that the position of the same item from top stays the same. This will work in the middle of a scroll as well. Now as soon as the scroll stops I can fix the offset by removing the transform and calling `scrollTo`.

[2018-03-14 17:27] sm2017 commented on #127
@naqvitalha why when I append data to data provider just some items are rendered but when I prepend whole items are renered

[2018-03-15 05:37] naqvitalha commented on #137
Removing debounce will still not allow me to use just transforms. You see onLayout only fires while changing left/top/height/width. I'll try the `div` approach first and see how it goes. Seems like a harmless abstraction, onLayout anyway doesn't work on resize (on web). So, there is nothing to lose. Thoughts?

[2018-03-16 00:38] tafelito commented on #127
@naqvitalha I just saw that on the February release of RN, the ScrollView now includes a property `maintainVisibleContentPosition` that they implemented [here](https://github.com/facebook/react-native/commit/cae7179) and [here](https://github.com/facebook/react-native/commit/65184ec). I haven't had the chance to fully reviewed it, and it's only iOS, but it might be the same logic you described it.

[2018-03-16 17:56] naqvitalha commented on #137
@necolas check this PR: https://github.com/Flipkart/recyclerlistview/pull/140. This will bridge the gap in performance. Let me know your thoughts

[2018-03-16 18:01] necolas commented on #137
I think the RNW part needs to be using `View`

[2018-03-17 02:38] AbdallaMohamed commented on #127
I was just going to comment with a link to that commit, @tafelito
Would love to hear @naqvitalha's thoughts on this

[2018-03-19 18:53] naqvitalha commented on #137
Eventually yes. First onLayout needs to be figured out to justify the performance cost. Anyways, the current implementation is working pretty well performance wise. Btw since everything is proxied through `setNativeProps` don't you think you should try running it on a worker? Compute one frame early, I think the perf results will be amazing

[2018-03-22 04:56] naqvitalha commented on #127
@tafelito @AbdallaMohamed Doing it in native makes sense, however an acceptable implementation should be possible in JS too. Plus this can never work on `web` and we want to solve that too. What I don't understand is why use `contentOffset` do they intend to make it `iOS` only?

[2018-03-22 04:56] naqvitalha commented on #127
@tafelito it looks like the same logic

[2018-03-22 04:57] naqvitalha commented on #122
Closing, not activity.

[2018-03-22 04:57] #122 closed

[2018-03-23 19:01] tafelito commented on #127
@naqvitalha I think right now yes it only works for iOS but I read they are also working on the Android version so they might change that in the future. But as you said, it'd definitely make more sense doint it in JS whenever is possible so it works for both web and native

[2018-04-02 10:39] erizocosmico opened #144 "RecyclerListView needs to have a bounded size"
Hi, I've been trying to use this component following the example in the README but it gives me the following error:

[code]

If I comment these lines it works perfectly:
https://github.com/Flipkart/recyclerlistview/blob/77d479126595879c3c3c78cd402ba89bb253964c/src/core/RecyclerListView.tsx#L326-L328

I've logged the values of `layout` and `this._layout` and they are `{height: 0, width: 0}` and {wi

[2018-04-02 17:12] naqvitalha commented on #144
Same as #89 and #74 check if those answers clear it up for you.

[2018-04-03 11:50] AnandKuhar commented on #144
I m facing the same issue. But if i give RecyclerListView's parent container fixed height and width it shows starting two three images, even if i gave its parent container height to be equal to deviceHeight. It also Distort my css when using with card

[2018-04-03 13:18] AnandKuhar commented on #110
when using forceNonDeterministicRendering={true} with RecyclerListView it gives error "You are setting the style '{top : ...}' as a prop. you should nest it in a style object.

[2018-04-03 15:21] naqvitalha commented on #144
@AnandKuhar Can you give me a sample on codesandbox.io? The problem is body is not auto stretched on web. And RLV containers by default enable `flex` on child. If you give me the sample I will help you out.

[2018-04-04 18:08] naqvitalha commented on #110
@AnandKuhar web or react-native? If web are you prioritizing .web.js files?

[2018-04-04 18:08] naqvitalha commented on #110
Or RNW?

[2018-04-05 10:21] SudoPlz opened #145 "Orientation changes mess up the list"
Hey there,

here's the issue that I'm having:

<img src="https://cl.ly/1d1v313s3L1t/Screen%20Recording%202018-04-05%20at%2001.20%20PM.gif" />

Note that all works well when I'm on portrait, but once I go in landscape, all hell breaks loose.
As you can see the items don't correctly on landscape, and you can see 2 items instead of one, even though their widths are correct.

I've created a repo with

[2018-04-05 12:30] AbdallaMohamed commented on #145
It's a similar problem to preserving scroll position

Maybe you can try https://github.com/Flipkart/recyclerlistview/issues/127#comment-368580060, but instead of applying that logic when getting new data, you apply it when an orientation change happens.
`Dimensions.addEventListener('change', ...)`

[2018-04-05 13:48] SudoPlz commented on #145
Not sure if I got this right, but my problem does not stop once the orientation changes.
Even if I fix the scroll position, if the user tries to scroll, it will still snap to the wrong x value.

[2018-04-05 14:06] AbdallaMohamed commented on #145
Have you tried using the canChangeSize prop?

[2018-04-05 14:12] SudoPlz commented on #145
Yeah, makes no difference.

[2018-04-05 17:13] lxcid opened #146 "Support Drag & Drop Reordering?"
This project looks awesome! I was wondering if it can do drag & drop reordering?

I'm been searching around and wasn't able to find a good solution to it. Do you think this is possible with this project?

[2018-04-05 19:49] naqvitalha commented on #145
`canChangeSize` should handle it. For some reason on my machine it isn't running the iOS build. It doesn't resize on Android. Can you run this on expo so that I can have a look?

[2018-04-05 19:51] SudoPlz commented on #145
It's using a native module (called `react-native-orientation`), and I haven't linked that on Android, so maybe that's why it's not working on Android.

It should work on iOS, what error do you get? Maybe I can fix it.

Also, I can create an expo, but does expo support native modules (I thought it didn't)?

I'll do anything to sort this out.

[2018-04-06 03:59] naqvitalha commented on #145
Why do you need a native module to detect orientation change? Check #58

[2018-04-06 09:31] SudoPlz commented on #145
Ok, I wasn't aware of that, but never the less, can you please tell me the issue iOS is giving you?
or should we skip that and create an expo project from scratch?

I really need to focus on the real issue here :/

[2018-04-06 16:07] stokesbga opened #148 "Please have my babies"
You are the greatest hero in all of react and react native. I hope you get the recognition you deserve

[2018-04-06 17:30] naqvitalha commented on #145
If you can reproduce this on Android I will take a look ASAP. I think I need to upgrade Mac OS and XCode to run the project. That's why I always use expo for iOS. Expo or, Android repro will do.

[2018-04-06 19:12] SudoPlz commented on #145
Perfect, @naqvitalha the Android project should now be working on that same repo.

Try it and let me know how it went.

[2018-04-07 06:49] naqvitalha commented on #148
ROFL. Closing :)

[2018-04-07 06:49] #148 closed

[2018-04-07 11:01] naqvitalha commented on #145
@SudoPlz Dude I tried on Android post your changes and saw the same issue. I added `canChangeSize` and it works perfectly post that. `canChangeSize` was designed for such scenarios. Try that maybe you did something wrong before.

[2018-04-07 11:02] SudoPlz commented on #145
Whaaat? But I did add `canChangeSize` and tested on iOS, and I got the same issue. :S
I'll try on Android as well!!

[2018-04-07 11:05] naqvitalha commented on #145
Yeah :P try and let me know.

[2018-04-07 11:32] SudoPlz commented on #145
Pffff.... it does work on the reproduction repo, but not on my main project. I might be using a slightly older version though. I'll try to update and see if that changes.

[2018-04-07 11:47] SudoPlz commented on #145
Ok, so I confirm that after I updated to the latest version `canChangeSize` did work, thanks a ton for your time @naqvitalha and sorry for wasting your time.

You see I'm not using your library through npm, I'm using a build locally, because I wanted to be able to modify and debug your library in real time, without having to care about typescript.

The reason is https://github.com/Flipkart/recycle

[2018-04-07 11:47] #145 closed

[2018-04-07 11:49] SudoPlz commented on #103
So the [repo](https://github.com/SudoPlz/recyclerlistview-calendar-example/blob/master/src/MiniCalendarManager.js#L880:L907) I've created for #145 is the same project I've been having trouble with `onVisibleIndexesChanged`

[2018-04-08 06:26] lxcid commented on #146
Amazing @naqvitalha thanks for the explanation!

[2018-04-09 05:29] asadallahi opened #149 "Viewability feature events"
How can I detect the **current item** is active in recyclerlistview (**visible on screen**)?

[2018-04-09 05:35] naqvitalha commented on #149
Please check the `onVisibleIndexesChanged` callback. It gives you `all, now, notNow` all that you might need. Close if that's what you were looking for.

[2018-04-09 05:39] asadallahi commented on #149
Thanks for quick reply!

Can you please provide sample code for that?

[2018-04-09 05:45] asadallahi commented on #149
I got that with:
`<RecyclerListView onVisibleIndexesChanged={this.visibleLog.bind(this)} layoutProvider={this._layoutProvider} dataProvider={this.state.dataProvider} rowRenderer={this._rowRenderer} />`

thanks for your awesome library

[2018-04-09 05:58] naqvitalha commented on #149
You method should be `visibleLog(all, now, notNow)` RLV will call it with right params (those are arrays btw). After having the right indexes you can do whatever you want. If you want data fetch from your `DataProvider` using the given indexes.

[2018-04-09 06:56] asadallahi opened #150 "_layoutProvider with dynamic height"
I have Recyclerview with **dynamic data** provider (with **different height for each item**) in it but when I want to render them recyclerview says:
`RecyclerListView needs to have a bounded size...`

How can I set it to work with dynamic height for each item?

[2018-04-09 07:07] asadallahi commented on #150
based on your answer in [this issue](https://github.com/Flipkart/recyclerlistview/issues/110) I used `forceNonDeterministicRendering={true}` but still getting the same error

[2018-04-09 13:57] TomPradat opened #151 "LayoutProvider responsive width"
It would be great to be able to set responsive width in the layoutProvider.

I'm trying to have a 100% width for example. I'm actually using window.innerWidth but the problem is that when resizing my browser window, the size is not recalculated.

[2018-04-09 18:10] naqvitalha commented on #151
Set `canChangeSize` to true. That should do it.

[2018-04-09 18:28] TomPradat commented on #151
I'll try it but it's specified that on web this only works with useWindowScroll to true and i'm using it without windowScroll.

[2018-04-10 06:32] ashokkumar88 commented on #144
wrap the `<RecyclerListView />` inside `<View style={{flex:1}}> </View>` like below:

[code]

[2018-04-10 11:09] TomPradat commented on #151
As expected this doesn't work with the prop `useWindowScroll` to false.

[2018-04-10 17:07] naqvitalha commented on #151
You can pass your own `ScrollView` which can raise `onSizeChanged` event.

[2018-04-10 21:52] Louies89 opened #152 "Slow Rendering of List View"
@naqvitalha
Hi,
I am using realm for my app. realm has zero copy mechanism, so it provides a object which shall point to the data present in the memory. And data at any time can be retrieved using the object (similar to json object array.)

I tried this library with below code, but it takes long time(usually 3/4 seconds) to update te next rows while scrolling.

Can you please suggest, what configu

[2018-04-11 05:51] naqvitalha commented on #152
Things to watch out for:
1) Don't test perf on dev mode. Set dev to off and minify to true.
2) Component being returned in `rowRenderer` needs to have `shouldComponentUpdate` defined.
3) `rowHasChanged` should not be returning `true` all the time.

You can check the expo sample to get an idea of the performance. It should be very fast. Also, you don't need to set `renderAheadOffset` to such large

[2018-04-11 06:50] asadallahi commented on #149
Kindly please tell me how can I update the items viewable to screen

[2018-04-11 08:12] naqvitalha commented on #150
Same as #144 #89 and #74 check if those answers clear it up for you.

[2018-04-11 08:12] #150 closed

[2018-04-11 08:13] naqvitalha commented on #149
You need to update the data using those indexes and re-render. RLV will/cannot give you direct references.

[2018-04-11 08:46] asadallahi commented on #149
Can you explain more about

I couldn't find any document for re-render them

[2018-04-11 09:17] naqvitalha commented on #151
RLV computes layouts itself so these dynamic widths cannot work. There is a relayout logic in place but to trigger it you need to raise `onSizeChanged`. Why it cannot be automatically is because there is no performant way to observe resizes on a div. However passing your scrollview is not hard. Give it a try.

[2018-04-11 11:21] maxfarseer opened #153 "React does not recognize the `XXX` prop on a DOM"
I'm using recyclerlistview with react-native-web, and have a lot of this warnings in development mode. How it's possible to get rid of it?

[2018-04-11 12:37] TomPradat commented on #151
I tried to pass my own ScrollView and add a window resize event listener in `componentWillMount` even when `useWindowScroll` is set to false, but i can't figure out what to do then; i though calling `this.props.onSizeChanged({height: this._mainDivRef.clientHeight, width: this._mainDivRef.clientWidth});` would work but it doesn't

 I did fork your project and managed to get what i want
- https://gi

[2018-04-11 15:25] naqvitalha commented on #153
@necolas Shouldn't RNW `ScrollView` filter out the props it doesn't understand? The `react-native` one does. Regardless, I plan to filter these out in RLV itself in a future revision.

[2018-04-11 16:17] naqvitalha commented on #151
Did you make sure that you had set `canChangeSize` to true when you passed `externalScrollView`?
What you're doing is not extensible, there is a reason why we don't accept "100%" as a dimension.

[2018-04-11 16:41] necolas commented on #153
Yeah I kind of hate how sloppy RN is about passing props down. It should be more explicit and not pass everything through.

[2018-04-11 18:30] naqvitalha commented on #153
It does so before sending them down to the native views. So, it works out in this case. RNW isn't doing so. Although I plan to filter out at RLV level. But should we think about making RNW somewhat selective while choosing props to pass down to inner div?

[2018-04-11 18:45] necolas commented on #153
Possibly, but filtering props isn't free and should really be taken care of in user land components. Passing invalid props to RN components should be prop warnings and flow errors. Like RN FlatList passes all it's props to scrollview even though they are not recognized :/

[2018-04-11 19:57] Louies89 commented on #152
@naqvitalha
As I am using realm as db, I cannot create a expo project.

So can you please check the **1App.js** and **RealmCntcts.js** files from https://github.com/Louies89/TrialRealm

[2018-04-11 20:33] Louies89 commented on #152
@naqvitalha the 2nd point
`Component being returned in rowRenderer needs to have shouldComponentUpdate defined.`

I am unable to understand and can please share the expo sample link..

[2018-04-13 02:51] asadallahi opened #155 "find an item in recyclerlistview by index"
In [this issue](https://github.com/Flipkart/recyclerlistview/issues/149) **@naqvitalha** said that use `redux` for changing the state of an item.
But my question is **how to find an item in recyclerlistview by index so that I can update it via `redux`?**
I'm using `onVisibleIndexesChanged` callback but it gives me only the index of viewable items.

I found how to get item with `item = dataProvider

[2018-04-13 08:00] TomPradat commented on #151
Yes i tried to pass an externalScrollView but i didn't figure out how to do it properly. Your solution works perfectly so far. Thanks for your time and for this great lib :)

[2018-04-13 08:49] TomPradat commented on #151
First of all thank you for your help and time and for this great lib :) . Indeed your example works nice. However i still have the problem on my use case, check https://codesandbox.io/s/0qpozm32wl for more details. My problem appears when using flexbox layout, i'd expect the list to shrink and grow. That's why i need 100% width dimension.

[2018-04-13 16:52] naqvitalha commented on #152
Straight hit for point 3. I would've appreciated if you would've checked it yourself. `r1!==r2` was true all the time. This method is there for a reason. I found a uid in your data as well. I changed the code to:

[code]
It works perfectly after that.

[2018-04-13 16:52] #152 closed

[2018-04-13 20:18] damikdk opened #156 "recyclerlistview save contentOffset after rerender with new dataProvider"
Thank you, your component is amazing! In some cases, even too much. I can't just refresh data in list, it save old offset, even if I set new dataProvider. Expo snack: (https://snack.expo.io/HkAA_KCoz)

[code]

[2018-04-14 04:06] naqvitalha commented on #156
It should, shouldn't it? Think about when you add new data to the bottom of the list, that too is a `DataProvider` change. In this case however you can simply obtain the `ref` of RLV and call `scrollToOffset` with `y` as 0 to jump to top. e.g:

`this.setState({ dataProvider: dataProvider.cloneWithRows(this._generateArray(10)) }, ()=>{this._rlv.scrollToOffset(0,0,false)}})`

[2018-04-14 04:45] Louies89 commented on #152
@naqvitalha ooh... I didn't understand it before....
I will try this...

Thank you for your time... :)

[2018-04-14 07:30] Louies89 commented on #152
@naqvitalha there is not much difference still lagging...

[2018-04-14 08:08] naqvitalha commented on #152
Are you sure it's not on `dev` mode? Majority of the times when people complained about something like this they were on `dev` mode on Android. On iOS there is not direct way to turn off `dev` other than making the release build.
@Flipkart we have much more complex templates and see no performance issue. You should be seeing no blanks or lags unless you have missed something in the mentioned point

[2018-04-14 10:26] damikdk commented on #156
Now I see, thanks! My [expo snack](https://snack.expo.io/rJjLhSJnM) now includes solution:

[code]

Your code without setTimeout() works only if oldContentOffset < newContentSize. Thank you!

[2018-04-14 13:38] naqvitalha commented on #156
Great! Closing.

[2018-04-14 13:38] #156 closed

[2018-04-16 13:43] asadallahi opened #157 "scroll to specific index"
Assume that the user is in middle of `recyclerlistview` and the app fetched new items from server and prepend them to the list and I want to **show a button** for _scroll to top_ to **view new items**.

How can I implement that?

[2018-04-16 14:13] AbdallaMohamed commented on #157
Get a ref to RecyclerListView and call `scrollToIndex(0)`
https://github.com/Flipkart/recyclerlistview/blob/master/src/core/RecyclerListView.tsx#L222

[2018-04-17 03:49] #157 closed

[2018-04-17 03:54] asadallahi commented on #155
I found the answer myself.

The solution was creating **a new array** and pass it to **`dataProvider`**
[code]
After creating desired array just use **`setState`** method like this:
[code]

[2018-04-17 03:54] #155 closed

[2018-04-17 03:54] #149 closed

[2018-04-18 04:52] Louies89 commented on #152
@naqvitalha
After adding canChangeSize the images are getting loaded properly..

But I think there is a small bug in the library, and that is if i am adding `style={{flex: 1}}` for the element to be loaded in the list, the data and the starting position of the rows are not rendered properly.

Can you please give some hint how to add the spinner while loading the data...

[2018-04-18 12:07] TomPradat commented on #151
Hey @naqvitalha, any news ? What do you think about my problem ? Do you think it would be valuable to have a boolean prop as discussed for width 100% ? I can work on a PR but i'd rather have your approval first.

[2018-04-19 04:48] aryo commented on #151
A little unrelated, but is there a way to do dynamic heights?

[2018-04-21 05:40] Louies89 commented on #152
@naqvitalha
Can you help me please?

[2018-04-21 08:45] naqvitalha commented on #151
@TomPradat You can wrap the `ScrollViewer` in a `div` and then report the size of it instead to make it work your use case.
@aryo Yeah, just set `forceNonDeterministicRendering` to `true`

[2018-04-21 08:49] naqvitalha commented on #152
For the loader thing you can use the `renderFooter` prop.
For rest I would recommend you to try building something on expo to build the expertise first. I'll also be able to check the issues. I'm not free these days, cloning and running codebases is not feasible. I can look into anything available on expo.

[2018-04-21 12:03] Louies89 commented on #152
Ok, I will send expo links next time...
I know that i have to us the footer part, but when to show the footer and when to hide, that is not knowing...

If you have any example for footer part, can you please share ?

Thank you :)

[2018-04-21 12:15] twistedfork88 commented on #152
@naqvitalha I'm noticing issues arising out of performance but at the same time the components rendered do not have an SCU hook. I'm proposing can we add `console.warn` to such scenarios so that we don't have to reiterate over DEV mode or any other caveat???

[2018-04-21 12:56] naqvitalha commented on #152
@twistedfork88 RN does itself give out a warning about DEV being true. I can add one to RLV context too. But this is one thing every developer should already know.
How do you think I can add warnings for point 2/3? Couldn't think of a way to infer if `rowHasChanged` will always be true.

[2018-04-21 15:08] naqvitalha commented on #133
@aaemman I think the best solution is to round off the window width to 4 decimal places to avoid JS precision issues. Closing.

[2018-04-21 15:08] #133 closed

[2018-04-21 15:08] naqvitalha commented on #121
Inactive for a while. Closing.

[2018-04-21 15:08] #121 closed

[2018-04-22 08:14] xhun2015 opened #159 "组件不支持像Flatlist里面的renderHeader()吗？"
我的界面上半部分是伦播图，下半部分是列表，需要实现整体可以滚动，该如何实现呢，我将伦播部分放到recyclerlistview中作为一个item,由于轮播图是flatlist实现的，此时伦播图不显示

[2018-04-23 04:32] naqvitalha commented on #159
It would help if you can post this in English :) Don't know Chinese. I tried translating still couldn't get it.

[2018-04-23 13:05] TomPradat commented on #151
Alright, i did wrap the `ScrollViewer` in a div and this works fine.

I still think this is not optimal though, as javaScript window resizing is way slower than css 100% width.
If you agree, i'd be glad to work on a PR.

Btw thank you for your time and for this great lib 😄 🎉!

For anyone looking for a working example : https://codesandbox.io/s/0qpozm32wl

[2018-04-24 03:41] Bobwu1 commented on #159
I think he's trying to implement the renderHeader and renderFooter functionality. Is there any way to do that or do we have to implement a "header" and "footer" type within LayoutProvider?

[2018-04-24 03:42] Bobwu1 opened #160 "Using fetched data in DataProvider"
So far, your examples are using a static array for the DataProvider initiated in the constructor. What's the best way to use data fetched through an API? Some documentation on what DataProvider does (and why we have to use cloneWithRows) would be helpful.

[2018-04-24 05:36] naqvitalha commented on #151
@TomPradat  I'm glad it works for you. Regarding the resize event we are only listening to the event and acting on it. The actual resizing that RLV does will be slower, yes, but not significantly. The reason we need this is to enable recycling. RLV needs to know the size of its children to be able to recycle cells efficiently. Ff you use css RLV will eventually fall out of sync and you'll lose out

[2018-04-24 05:36] #151 closed

[2018-04-25 07:31] ashokkumar88 opened #161 "onScroll not triggering react native android"
Hi,

I added onScroll event to `RecyclerListView` to implement collapsible navbar. Buth the `OnScroll` prop is not triggering. Below is the code

[code]

[2018-04-25 09:36] AbdallaMohamed commented on #161
Maybe change `onscroll` to `onScroll`?

Your onScroll function will be called with the following paramters.
`onScroll?: (rawEvent: ScrollEvent, offsetX: number, offsetY: number) => void;`

If you want to attach an Animated Value to the ScrollView though, you'd have to provide your own custom, I guess. Already tried that when I was experimenting with sticky headers. Maybe one of RLV's authors can h

[2018-04-25 09:41] AbdallaMohamed commented on #160
I'd do that:
[code]

As far as I understood from the data provider class:
https://github.com/Flipkart/recyclerlistview/blob/c23a1a2a6e9b521c5055c6c8b8a786064056b1b2/src/core/dependencies/DataProvider.ts#L31

It simply creates a new `DataProvider` with the same `rowHasChanged` function, and optimizes rows processing.

[2018-04-25 09:42] ashokkumar88 commented on #161
Yes i am using `onScroll'. But still it is not working. Can u please share how you have implemented

[2018-04-26 08:51] naqvitalha commented on #161
@ashokkumar88 It does work, check this sample: https://snack.expo.io/BJ-0fM1TG
Close if it does it for you.

[2018-04-26 09:38] ashokkumar88 commented on #161
@naqvitalha  Yes, it is working fine now. Thanks

[2018-04-26 09:38] #161 closed

[2018-04-27 08:24] asadallahi opened #162 "Pull to refresh"
I want to add pull to refresh functionality wit [react-native-pull-to-refresh](https://github.com/moschan/react-native-pull-to-refresh) but it says:
`RecyclerListView needs to have a bounded size. Currently height or, width is 0`

How can I fix that?

here is my code:
[code]

[2018-04-27 13:58] naqvitalha commented on #162
Check https://github.com/Flipkart/recyclerlistview/issues/39.

[2018-04-29 19:34] pribeh commented on #138
@naqvitalha That's amazing. Thanks! I didn't realize that even though it's mentioned that all scrollview properties work in the readme. Maybe make a note about like "all scrollview properties like refreshcontrol, etc." work so that its obvious to dumbies like me.

[2018-04-30 15:59] petermjones opened #164 "Slow switching between view modes"
Great component, but one stumbling block that I still have is that switching from a grid view (20 thumbnails per screenful - about 60 'views') over to a list view (about one per screen) on the same screen takes 2-5 seconds to complete.  Flipping from list and grid happens much more quickly. My guess is that the delay is getting rid of the old, unusable views via commands sent over the bridge.  I'v

[2018-04-30 21:50] petermjones commented on #164
I've also noticed that when switching from grid to list view, even though the render row function returns items that are near the size of the screen, RecyclerListView still asks for dozens of cells - ignoring the fact that the cells are much larger.

I hope there is a proper way to deal with this.  If not, I was thinking that I could have two RecyclerListView's on the screen, one of them zero heig

[2018-05-01 07:56] naqvitalha commented on #164
Try out the view change sample that I've added. See if that helps you: https://snack.expo.io/@naqvitalha/rlv-demo
Ideally there shouldn't be any delay. I can look into a sample if you can provide me one.

[2018-05-01 19:44] petermjones commented on #164
Thanks for the sample.  My boss hasn't given me permission to share our code.  In our use-case, our grid uses square thumbnails 1/3 the screen width, and the list images use the full width of the screen.  Because of this, they load different images, perhaps 30Kb vs 200Kb.  Placing a reactotron log into the render row function shows that RecyclerListView is building many views using the large image

[2018-05-04 13:01] antonKalinin opened #167 "Scroll problems on device while using with React Native Web"
Hi, we are using Recyclerlistview with React Native Web and faced with the problem that on device, then the `initialOffset` or `initialRenderIndex ` prop is set (or you using contextProvider which internally sets initialOffset) the component stops to response to scroll (exactly touch event, wheel scroll continue to work). It looks like in this case ScrollView from React Native Web is using and may

[2018-05-04 14:54] naqvitalha commented on #167
@antonKalinin I have tested this flow multiple times on RNW but never faced this issue. Try playing with the web sample https://codesandbox.io/s/k54j2zx977 and see if you can repro it on a fork. If you can, share it with me.
What device/browser are you testing on?

[2018-05-04 16:01] antonKalinin commented on #167
@naqvitalha I tested on iPhone (both device and emulator) in safari. Thanks for example, I will try to understand whats wrong with my case.

[2018-05-04 16:36] antonKalinin commented on #167
@naqvitalha I can reproduce this issue by setting `initialOffset` prop in sandbox sample you sent me above. https://codesandbox.io/s/4rvmzyxj09 The strange thing that problem is occurs not from the first load but after several reloading (5-7 in my case) and after that it stable appears (scroll not working) I tested both on my iPhone and emulator, in Safari.

[2018-05-04 16:55] naqvitalha commented on #167
@antonKalinin You are right, I checked on iPad. Try importing from "recyclerlistview/web" instead. That will use the `ScrollView` written for pure web. I will look into why RNW one is failing here, looks like window is taking control of the touch input.

[2018-05-06 04:40] naqvitalha commented on #167
@necolas FYI

[2018-05-06 12:20] peteroid opened #168 "TypeError: undefined is not an object (evaluating 'this._layouts[i].x')"
I got this error in my react native project. I have two RLV in two different screens. Do we need to check if the element exists before reading the `x` ?

Environment
- Platform: iOS
- RN: 0.49.5
- RLV: 1.3.4

[2018-05-07 05:28] #160 closed

[2018-05-07 05:29] naqvitalha commented on #138
@pribeh I incorporated your suggesting. Thanks :)
New samples and perf guidelines added.
Closing.

[2018-05-07 05:29] #138 closed

[2018-05-07 05:31] naqvitalha commented on #135
In future we are planning to include a scrollview of our own to take care of this. Since this has been inactive I'll close it.

[2018-05-07 05:31] #135 closed

[2018-05-07 05:33] peteroid commented on #168
I don't have any function call to access that value. I am using the RLV as the example. This issue only occurred in this scenario.

For example there is a component ScreenA, if the data provider gets more elements (removal doesn't cause this error) and the component is not updated due to the false `props.isFocused`. This error will occur when the `props.isFocused` is once changed back to `true`.

[2018-05-07 07:04] ashokkumar88 opened #169 "this._scrollViewRef.scrollTo is not a function"
The recyclerlistview performance is very good. But i am having a issue with the `onEndReached` props. After calling the `onEndReached` i am adding the new data to the DataProvider. But after the data is added i m getting error **this._scrollViewRef.scrollTo is not a function**

[code]
![screenshot_20180507-123302](https://user-images.githubusercontent.com/11060139/39689098-07b8f99e-51f3-11e8-8420-

[2018-05-07 07:25] naqvitalha commented on #169
Looks like you haven't fully implemented `BaseScrollView` interface. That is necessary since you're using `externalScrollView`.
e.g,

[code]

[2018-05-07 08:15] ashokkumar88 commented on #169
Thanks for the quick response. My `externalScrollView` class is like below. Is it correct?

[code]

[2018-05-07 08:39] antonKalinin commented on #167
@naqvitalha Thanks for advice, using RLV from `recyclerlistview/web` solves the problem.

[2018-05-07 09:15] naqvitalha commented on #168
Whenever you update `dataProvider` you have to render again. I think in your case you changed the array that you had passed to `dataProvider`. Make sure you keep them in sync.

[2018-05-07 09:44] ashokkumar88 commented on #169
Please see the step below. The issue is in the 4th step.

1. Enter into the listing page (10 items)
2. At the end of list `onEndReached` called and new data appended to the list +10 items. (Working fine)
3. We have now 20 items. Then navigate to a new page and come back to the listing page.
4. It has 20 items. Then scroll to end `onEndReached` called and api sent response but no data appended to t

[2018-05-08 07:44] naqvitalha commented on #132
@peteroid Anything will help, a video showing FPS difference or fill area or GIF etc. Ideally Android Studio comes with a performance profiler and we can get better results from there. I'm happy with whatever is feasible.
The idea here is to see results for as many scenarios as possible so that things can be improved in the future.

[2018-05-08 07:49] naqvitalha commented on #169
I'll need a sample to look into it. I don't think this a RLV issue. Most likely there must be some bug in your code. You can try your `externalScrollView` in one of the samples to see if it works fine.

[2018-05-08 07:50] naqvitalha commented on #159
There is a `renderFooter` prop available but no `renderHeader` as of now.

[2018-05-08 08:12] hovox commented on #76
+1 for this issue. Is there a status update for this? Could you provide steps on how to implement custom layout manager ?

[2018-05-08 09:19] VilleKokkarinen opened #171 "SyntaxError: Unexpected token import"
Jest Test Suite fails to run.
Does the module need any Babel presets _"es2015, react, stage-0,1?"_  / plugins, when building with webpack. (currently only react-native & react-native-web are present)

Dev builds go through absolutely fine, but the test's fail at ->
**unexpected token import from lodash-es\debounce**

[code]

important bits of package.json:
[code]

**If the issue is missing somethi

[2018-05-08 17:59] peteroid commented on #168
This error didn't show up anymore. Closing this issue.

[2018-05-08 17:59] #168 closed

[2018-05-09 10:56] amereii opened #172 "undefined is not an object (evaluating 'itemRect.y')"
We release an android app , and crashlytics reported the ```undefined is not an object (evaluating 't.y')``` error

I found that the error is ```itemRect``` is ```undefined``` in the following line
https://github.com/Flipkart/recyclerlistview/blob/master/src/core/ViewabilityTracker.ts#L237

[2018-05-09 11:26] naqvitalha commented on #172
How many crashes are you getting in %?

[2018-05-09 11:44] amereii commented on #172
@naqvitalha %25

[2018-05-09 12:12] amereii commented on #172
We have two recycle view in our app
https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/src/components/MainTabs/RoomList/index.js#L64
https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/src/components/Room/RoomHistory/index.js#L125

[2018-05-12 05:06] amereii commented on #172
@naqvitalha Can you help me?

[2018-05-12 16:27] naqvitalha commented on #172
Do you have some more details or android stack trace?

[2018-05-13 05:17] amereii commented on #172
[code]

[2018-05-13 07:19] amereii opened #173 "Optimization"
We have a highly optimized recycle view here
https://github.com/RooyeKhat-Media/iGap-Plus/blob/master/src/components/MainTabs/RoomList/index.js#L64-L69

Can you please check the codes , We have some performance issue , If you have 100+ items and scroll fast enough you can see blank spaces

[2018-05-13 13:55] hovox commented on #76
Hey @naqvitalha I have created a pull request , please check and let me know, although I hove not tested it, would be good to have unit tests.

[2018-05-14 07:57] peteroid commented on #144
@naqvitalha Just wonder if I can add `style={{ minHeight: 1, minWidth: 1 }}` to hot fix this error?

[2018-05-14 10:34] hovox commented on #84
Hey @naqvitalha .
It's not working for me. It renders old image, then updates with new one.
Here is a `componentWillReceiveProps ` code:
[code]

[2018-05-14 10:35] hovox commented on #84
I wander if there is an example with images ?

[2018-05-14 10:56] hovox commented on #84
@naqvitalha are you using with `disableRecycling={true}` ?

[2018-05-14 16:09] farfromrefug commented on #84
@naqvitalha sorry for not responding. Dropped react-native as it was not good enough.
Sorry

[2018-05-14 16:13] naqvitalha commented on #173
`canChangeSize` will not cause performance slowdown unless size is changing very often. Did you check the performance guide? You can find it here: https://github.com/Flipkart/recyclerlistview/tree/master/docs/guides/performance

[2018-05-14 16:59] naqvitalha commented on #172
I think I've got the issue. You are mounting RLV with no data. That is not expected, I can put a safeguard but make sure that you don't mount it without any data. Your `dataProvider` should have atleast one item, if it doesn't don't mount the ListView.

[2018-05-14 18:44] nickofthyme commented on #116
@naqvitalha that is true for mobile web but not the case for native mobile with React Native.

[2018-05-14 21:23] hhunaid opened #176 "RLV jitters when adding new items"
I have implemented infinite scrolling but whenever I add rows to my dataset dynamically, view jitters. Its more prominent on lower end devices e.g. iPhone 5, Samsung S3.
I will try to capture a GIF to show what I mean. But it mostly feels like newly added items have a translation animation (top to bottom)

[2018-05-15 04:47] naqvitalha commented on #84
@hovox Try `this.img.setNativeProps({ opacity: 0 })`. Toggle opacity.
You can check this sample https://snack.expo.io/@naqvitalha/rlv-demo

[2018-05-15 04:54] naqvitalha commented on #144
@peteroid In that case estimated no of items to mount will be computed incorrectly. In future we plan to add `layoutParam` prop where you can provide layout for RLV to use rather than waiting for mount. That will fix it.

[2018-05-15 05:05] naqvitalha commented on #176
Shouldn't be happening. Can you share your implementation? Also, read the performance guide.

[2018-05-15 06:14] peteroid commented on #144
@naqvitalha Is there any way we can catch this error gracefully? By throwing out the error, our app would crash directly. Can we have a prop like `onLayoutError` and then render nothing to the view after setting a prop like `notThrowError={true}`?

[2018-05-15 08:32] hhunaid commented on #176
I figured it out. I was using the wrong type of cells for my items

[2018-05-15 08:32] #176 closed

[2018-05-15 19:04] Prerna11082 opened #177 "RecyclerListView repeating data after position 2"
Hi,
I've been trying to use this component in my app.
I have a lot of text for display. And it is dynamic, so I've set forceNonDeterministicRendering=true. And also since most of the list items have a lot of text to render, so I've added estimated height of full device height in layout provider.
The first and second element renders fine. But after that, data is repeating, instead of the third elem

[2018-05-15 19:26] naqvitalha commented on #177
@Prerna11082 `RecyclerListView` reuses components rather than creating/destroying like `VirtualizedList`. I have fixed your implementation here: https://snack.expo.io/HJRQm2_Cf
Inside `VerseViewBook` you were relying on constructor so update state which is called once. Relying on props instead fixes the problem.

[2018-05-15 19:44] #177 closed

[2018-05-16 10:31] maxfarseer opened #178 "initialRenderIndex broke rendering elements when height is enough to show all of them"
### How to reproduce:

1.  Generate small list of elements (here in repo 3 items)
2.  Open the browser window with enough heigh to display all items
3.  Set up any initialRenderIndex different than 0 (1,2)

### Expected results:

All items displayed.

### Actual results:

No one element rendered

### Screenshots

https://monosnap.com/file/rLQjgBXDla3I67yYVIHNOWX0LCZAND - normal page, height not en

[2018-05-16 13:29] naqvitalha commented on #178
Can you provide a sample on codesandbox.io for me to check? That will help me look into this ASAP.

[2018-05-16 13:33] maxfarseer commented on #178
@naqvitalha issue updated with link to codesandbox.

[2018-05-16 18:28] naqvitalha commented on #178
Ah! Indeed it's bug :(
RLV expects a scroll event to trigger render in case of explicit offset. Which won't happen here.
Can you avoid giving an explicit index when items are few? I will try to fix this ASAP.

[2018-05-20 19:11] dancherb opened #180 "How to trigger a re-render on data change?"
I couldn't find an example of this in the sample code - at the moment I'm doing the following, which may not be ideal:

[code]

[2018-05-21 08:03] maxfarseer commented on #180
@dancherb, use `componentWillReceiveProps` (for react < 16.3) or `getDerivedStateFromProps` (react 16.3+)

[2018-05-22 05:01] amereii commented on #172
@naqvitalha I fix my code and in the next release I can verify that it fixed or not

[2018-05-23 04:51] naqvitalha commented on #172
It should get fixed, I was able to repro it with an empty data provider. I'll also be adding a warning in the next release for the same.

[2018-05-23 06:30] amereii commented on #172
@amereii But I'm not able to reproduce it with an empty data provide

[2018-05-23 06:57] naqvitalha commented on #172
Change orientation while having an empty data provider. Size change while being empty causes this

[2018-05-23 07:47] yuvaraj119 commented on #178
@naqvitalha  is this issue fixed any update.

[2018-05-23 12:34] bradbumbalough commented on #146
Hi @naqvitalha, thanks for all the work on the project. I'm working now to implement this for our app and wondered if you could point me in the right direction. I'm failing to see the scope to manipulate the transform of the ViewRenderer (on master). Has this changed since you initially posted this? Thank you!

[2018-05-24 01:28] naqvitalha commented on #178
It is fixed in 1.4.0-beta.4, it might be a while before it is available outside beta since master has big changes

[2018-05-24 12:15] cgav commented on #153
@naqvitalha @necolas any updates on this?

[2018-05-24 20:02] rootedy-ffit commented on #169
@naqvitalha can you provide a full example of how to use the scrollTo with externalScrollView? I'm trying to do this and it's not working. Should the below code work: https://snack.expo.io/r1IoPqEkm?

[2018-05-27 14:11] naqvitalha commented on #146
@bradbumbalough You will have to accept ViewRenderer's internal cell externally as a prop. Basically RLV will get one more method called `getViewHolderForType()` where you return your container.
In this component you will implement dragging and compute new positions RLV will animate to.

[2018-05-27 23:37] ajtwgit opened #181 "I am unable to find away to scroll to an index in recyclerlstview"
I've submitted a [stackoverflow question](https://stackoverflow.com/questions/50556151/raect-redux-how-can-i-change-the-state-appearance-of-a-component-that-is-backgr) for this issue. However, I don't think it's going to be answered anytime soon.

I've replaced the componentWillReceiveProps in my SO code with: `
static getDerivedStateFromProps(nextProps, prevState){
        if(nextProps.scrollToSu

[2018-05-27 23:39] ajtwgit commented on #181
Current code:

import React, { Component } from "react";
import { RecyclerListView, LayoutProvider, DataProvider } from "recyclerlistview";
import { View, Dimensions, Image, AppRegistry } from "react-native";
import {
    Button,
    Text,
    Container,
    Card,
    CardItem,
    Body,
    Content,
    Header,
    Title,
    Left,
    Icon,
    Right,
    List,
  } from "native-base";

import {

[2018-05-27 23:45] AbdallaMohamed commented on #181
You cannot reference the class instance in static functions. Your static getDerivedStateFromProps shouldn't contain the keyword `this`. You should just componentDidUpdate instead. And move your React.createRef inside the constructor, or better, define it as a class property.

[2018-05-28 00:30] ajtwgit commented on #181
@AbdallaMohamed  Thanks. I've added componentDidUpdate but, my ref is still causing that TypeError:

`export class NewProPage extends React.Component {

    componentDidUpdate(prevProps, prevState, snapshot){
        if(prevState.initialRenderIndex != this.state.initialRenderIndex){

        }

    }
    componentWillReceiveProps(nextProps){
        if(nextProps.scrollToSubjectIndex != this.props.

[2018-05-28 00:45] ajtwgit commented on #181
@AbdallaMohamed  Seems to work if I use a callback as the ref:

` render: function() {
    return (
      <RecyclerListView
        ref={function(RecyclerListView) {
          if (RecyclerListView != null) {
            RecyclerListView.scrollToIndex(**5**);
          }
        }} />
    );
  },`

I just need to figure out how to submit a new value to the function. I can only get it working by har

[2018-05-28 02:09] ajtwgit commented on #181
Completed code:

Thanks, Adballa.

`export class NewProPage extends React.Component {

    componentDidUpdate(prevProps, prevState, snapshot){
        if(prevState.initialRenderIndex != this.state.initialRenderIndex){
                this.recyclerRef.scrollToIndex(this.state.initialRenderIndex);
        }

    }
    componentWillReceiveProps(nextProps){
        if(nextProps.scrollToSubjectIndex !=

[2018-05-28 04:14] ashokkumar88 opened #182 "How to use stableIds?"
Can u please mention in the documentation how to use stableIds?

[2018-05-28 05:21] nehacs09 opened #183 "Getting blank page with no views"
I have integrated this library using flag forceNonDeterministicRendering = true since, we don't know width and height of each element, but seeing whole page as blank sometimes.
`<RecyclerListView
                style={{ flex: 1 }}
                onVisibleIndexesChanged={this.onVisibleIndexesChanged.bind(this)}
                forceNonDeterministicRendering={true}
                layoutProvider={

[2018-05-28 08:29] naqvitalha commented on #183
Are you sure that the issue isn't actually with the data source itself. Also, are the estimated dimensions close to the actual ones?
Also read the perf guide: https://github.com/Flipkart/recyclerlistview/tree/master/docs/guides/performance

[2018-05-28 08:32] naqvitalha commented on #182
Only available in 1.4.0-beta.4. Will have documentation post general release. Basically it is another parameter inside the `DataProvider`. You can check code for the documentation right now.
Not very useful unless you have full changes in your dataset.

[2018-05-28 08:32] naqvitalha commented on #181
Great that you got it working. I'll close it, thanks for resolving this @AbdallaMohamed

[2018-05-28 08:32] #181 closed

[2018-05-28 08:33] ashokkumar88 commented on #182
ok. thanks @naqvitalha

[2018-05-28 08:33] naqvitalha commented on #180
Looks resolved. Thanks @maxfarseer for the help.

[2018-05-28 08:33] #180 closed

[2018-05-28 08:35] ashokkumar88 commented on #183
@nehacurefit  I was having same issue when `forceNonDeterministicRendering={true}`. After removing this prop it works fine.

[2018-05-28 08:35] yuvaraj119 commented on #183
yes, the same issue am too getting first two row is visible after that its blank page just keeps scrolling till data ends.
current version : "recyclerlistview": "^1.4.0-beta.4", and even in stable version same issue

[2018-05-28 08:41] yuvaraj119 commented on #178
Even in beta, the issue there. Now the data gets loaded faster on scrolling but the older issue is still there.
waiting for stable release.

[2018-05-28 09:03] nehacurefit commented on #183
@naqvitalha : We dont know the dimensions for items in the list as those  are variable height items, so i have defined width and height as window width and height in LayoutProvider.

[2018-05-28 09:05] nehacurefit opened #184 "How to define dynamic LayoutProvider"
I am trying to define layout provider where type is basically coming in data source, so how can i define layout provider to take layout type when data source is updated. Sample code of my requirement is:
`this.layoutProvider = new LayoutProvider(
            index => {
                return this.getDataSource()[index].widgetType
            },
            (type, dim) => {
                dim.widt

[2018-05-28 09:28] maxfarseer commented on #184
@nehacurefit when you receive new Data, you can access to it inside componentWillReceiveProps (or getDerivedPropsFromState). After - you can setup new layout provider, and after you can setup new data provider. Is it works for you?

[2018-05-28 10:03] nehacurefit commented on #184
Thanks @maxfarseer for help

[2018-05-28 10:03] #184 closed

[2018-05-28 10:28] nehacurefit opened #185 "Prop similar to onContentSizeChange() of FlatList?"
In this library, are we having or planning to have onContentSizeChange() similar method, since it is required for tabbed kind of views to know the content height

[2018-05-28 15:05] naqvitalha commented on #185
I think it's a ScrollView prop so it should already work.

[2018-05-28 15:07] naqvitalha commented on #183
@nehacurefit It is important that the given values are close estimates. It is very important for good perf. You don't have to know exact values, just close approximations.
@yuvaraj119 Are you sure there were no JS errors in your code?

[2018-05-28 23:37] dkpalmer commented on #146
I'm also currently searching for drag and drop support. It looks like `stableIds` has been merged, but it looks like `getViewHolderForType()` is not yet supported?

[2018-05-29 00:44] dkpalmer commented on #146
In the travelMate sample app, I added stableIds on v1.4.0-beta.2 and tried to insert an item. RE your comment @naqvitalha `If you update the data set things will animate in the right positions automatically`, does this require an ItemAnimator?

[2018-05-29 05:17] yuvaraj119 commented on #183
@naqvitalha yes no JS error in the code.
part of the code which i am using for showing gridView with 3 columns
this.state = {
            dataProvider: new DataProvider((r1, r2) => {
                return r1 !== r2;
            }).cloneWithRows(FlightData),
            layoutProvider: LayoutUtil.getLayoutProvider(6, 6),
            count: FlightData.length
        };

_renderRow = ({ item }) => (

[2018-05-29 06:02] naqvitalha commented on #146
@dkpalmer Yeah and to just try out set shouldAnimateOnce to false inside code and try inserting items.

[2018-05-29 06:12] naqvitalha commented on #183
@yuvaraj119 Can you provide a repro on expo? I can then quickly check. Most likely it's a bug in your implementation.

[2018-05-29 07:05] dkpalmer commented on #146
@naqvitalha Do you have any references/examples for using an ItemAnimator?

[2018-05-29 10:01] yuvaraj119 commented on #183
expo link: https://snack.expo.io/Hy8WSjc1m
In expo, I am getting the error.

[2018-05-29 11:03] AbdallaMohamed commented on #183
@yuvaraj119 If that's the error you're talking about

![image](https://user-images.githubusercontent.com/10912145/40655114-9afa9074-6340-11e8-8e4f-91c4db5c9fc9.png)

It happens because you forgot to export your `GridImageView` class as the default export.

[2018-05-29 11:51] nehacurefit commented on #183
This issue has been resolved for me . Thanks @naqvitalha foe help

[2018-05-29 13:08] yuvaraj119 commented on #183
@AbdallaMohamed
ah in this i forgot to export the GridImageView and but in my main code now i fixed the issue of showing only the first two rows with other blank pages this happened because i was using recyclerview within the scrollview. i remove scrollview it worked.

Thanks @naqvitalha for instant support.

[2018-05-30 09:22] #183 closed, assigned to nobody

[2018-05-30 09:31] nehacurefit commented on #185
Yes. Its resolved. Thanks :)

[2018-05-30 09:31] #185 closed

[2018-05-31 07:15] yuvaraj119 opened #186 "how to pass index or position of item to row render component"
I tried this sample project but nowhere can see the way to pass the index or position to render component.
https://snack.expo.io/@naqvitalha/rlv-demo

`rowRenderer = (type, data) => {
    //We have only one view type so not checks are needed here
    return <ImageRenderer imageUrl={data} />;
  };`

i tried like this didnt work:
`rowRenderer={({item, index}) => (
        this.rowRenderer(index)

[2018-05-31 10:17] legion-zver opened #187 "React Native iOS Release Build crash (_setRelevantBounds)"
[code]

On Debug build work great (((

[2018-05-31 16:28] Jyrno42 commented on #186
Check the third argument for rowRenderer:

`rowRenderer: (type: string | number, data: any, index: number) => JSX.Element | JSX.Element[] | null;`

https://github.com/Flipkart/recyclerlistview/blob/1.3.4/src/core/RecyclerListView.tsx#L81

[2018-05-31 16:30] Jyrno42 commented on #178
I am currently using this as a workaround (both for `initialRenderIndex` and for `scrollTo` methods):

[code]

[2018-05-31 16:44] Jyrno42 opened #188 "Delayed scroll after update"
Would be nice if there would be an API to schedule delayed scrolls after updating dataProvider. Currently i am using a timer but that does not seem too solid.

Note: I am using the beta version.

Some code as well:

[code]

[2018-06-01 07:57] #186 closed

[2018-06-01 18:14] dkpalmer commented on #146
@bradbumbalough I was not able to find anything. I was getting ready to start exploring PanResponder as well. Do you have a gist/project you can share?

I tried the same thing for ItemAnimator. When you say "it's updating positions", is it just abruptly updating (no nice animation)? That's the behavior I see when I add items to the list or try swapping row data, but per your point I guess that cou

[2018-06-02 20:57] naqvitalha commented on #187
Check #172, avoid mounting RLV without data.

[2018-06-04 10:47] bradbumbalough commented on #146
@dkpalmer here's a gist for a component I made called Draggable. I'm wrapping the list item I want to drag with it. https://gist.github.com/bradbumbalough/70a79dddc922215044071dc1ff7775e7. It passes an onLongPress to its child and then is called with a TouchableHighlight.

The main issue with this is that when the dataset updates the order the RLV also updates the position, and since I'm using a t

[2018-06-04 17:37] AbdallaMohamed commented on #72
@naqvitalha

My solution fails because the sticky header might not be rendered if you have a long section. In a situation where we have:

1 header
100 rows
1 header
More rows

The scroll position could be somewhere in the 100 rows, and the 1 header at the top isn't rendered.

What are your thoughts?

[2018-06-05 05:45] naqvitalha commented on #146
`getViewHolderForType` is not yet there but should be pretty easy to build. @bradbumbalough That will be needed for you to be able to discard RLV transform. With a custom item animator you can animate changes in data set. But you'll need a stable id on your items to make it better.

[2018-06-05 05:55] naqvitalha commented on #188
Why not do it in `componentDidUpdate`? By that time RLV would have completed its rendering.

[2018-06-06 18:38] petermjones opened #192 "Recycler isn't smart about random row heights, gets slower and slower"
Things work fine if all your rows are the same height, or even with alternating heights.

However, when I sent all rowRender calls to console.log I found that is was rendering some really old rows. Each row varies slightly in size, depending on an image, etc.  I was at row 391 when I loaded another 100 records, updated the dataProvider (which was part of the screen's state) and RecyclerListView wa

[2018-06-06 22:54] tafelito commented on #159
@naqvitalha any plans to implement renderHeader? I might be able to give it a shot

[2018-06-07 04:21] naqvitalha commented on #192
That has nothing to do with row heights, it's how you specify types in your layout provider. If there is just one item of a certain type it doesn't make sense for RLV to unmount it given that it might come in handy somewhere else.
Also, `rowRenderer` is not the right place to put log, that method generates JSX, extra renders get cancelled using `rowHasChanged` method anyway. Share your `layoutProv

[2018-06-07 11:37] petermjones commented on #192
Here is my layoutProvider:
    this._layoutProviderList = new LayoutProvider(
      index => {
        return 1.0 * this.state.dataProvider._data[index]['AspectRatio']
      },
      (type, dim) => {
          dim.width  = screenWidth
          dim.height = Math.round(screenWidth / type) + LIST_EXTRA_GAP // aspect ratio
      }
    )

Wouldn't it be more efficient to call rowHasChanged before call

[2018-06-08 04:53] naqvitalha commented on #192
Recycling is about minimising view creation/destruction. Thus reducing the need to waste compute in creating views or in garbage collecting them. The way you define types should reflect this principle. If your templates are just images then defining types on aspect ratio may not be good thing.

Let's say if you have 5 types of images in terms of aspect ratio, if you think about it all you'll need

[2018-06-08 12:54] petermjones commented on #192
Thanks for the help.  Your [example](https://github.com/Flipkart/recyclerlistview/tree/master/docs/guides/samplecode) does not use the third setDimensionsForType parameter, so I wasn't aware of it.  But it's clearly available in [LayoutProvider](https://github.com/Flipkart/recyclerlistview/blob/master/src/core/dependencies/LayoutProvider.ts).

Are there some notes about getStableId, should you alw

[2018-06-08 15:48] petermjones opened #194 "Problems using react-native-video"
When I include a very basic video into a RecylerListView it will initially play, but when I scroll down eventually I will get an exception:

Exception throw while executing UI block: Cannot remove an observer <RCTVideo 0x116f82060> for the key path "readyForDisplay" from <AVPlayerLayer 0x1c022e440> because it is not registered as an observer.

Within my rowRender (which has a parent view to force

[2018-06-08 18:17] petermjones commented on #194
Ok, the issue described [here](https://github.com/react-native-community/react-native-video/issues/907) was taken care of by an [update](https://github.com/react-native-community/react-native-video/releases/tag/2.2.0) an hour ago.

I'm trying two types: one for images, one for video.  The problem is that the RecyclerListView keeps those old videos around (playing on repeat) when I'm scrolling thro

[2018-06-09 01:05] tafelito opened #195 "incorrect dimensions on first layout when using forceNonDeterministicRendering"
@naqvitalha I'm trying to use forceNonDeterministicRendering to show a list of cards (classic news feed) but on first render the height of the items are not being calculated. Once you scroll down and up, everything looks fine.

I'm sure this is not an issue and I'm missed something, can you point me on the right direction? you can see it here https://codesandbox.io/s/k058on6r15

If I remove the Vi

[2018-06-09 19:41] naqvitalha commented on #194
You can easily unmount things you don't want using the `onVisibleIndexesChanged` callback. But make sure you don't affect the height. That might cause re-layouts.

[2018-06-09 19:49] petermjones commented on #194
Do you have an example of unmounting something within unVisibleIndexesChanged?

Also, regarding auto-play and pause, depending on the position of the video in the visible scroll area, I'd hook that up via onScroll of the RecyclerListView container?  How would I get access to a particular video object (one of several)?

[2018-06-09 19:57] naqvitalha commented on #195
Check `ImageRenderer.js` line 32. You've set `flex:1` and `height` together. That won't work. Remove `flex:1` and check. Check this out: https://codesandbox.io/s/pwj5pxornq

I've also removed `flex:1` from two other places one being `App.js`: 83. This was an actual layout specification issue, you don't need `flex: 1` in places where you want `MATCH_PARENT` kind of behaviour.

[2018-06-09 20:27] tafelito commented on #195
Did you test it on chrome? Because I'm still seeing the same issue. I tested on Safari and it does work, but mine as well

[2018-06-10 22:44] tafelito commented on #195
This is what I'm seeing

![image](https://user-images.githubusercontent.com/5973652/41207137-44474518-6cde-11e8-8102-a9cb7b02af88.png)

after scrolling down and up again, this is what I see

![image](https://user-images.githubusercontent.com/5973652/41207140-534360b0-6cde-11e8-839c-64501154f2b4.png)

[2018-06-11 04:57] naqvitalha commented on #195
I've got the problem. Check the sample https://codesandbox.io/s/32zmm4rj91. If you're handling `onSizeChanged` yourself you need to override the `onLayout/onSizeChanged` on `ScrollView` to prevent RLV compute. The issue was that `onSizeChanged` was getting triggered twice in the same flow so before RLV could correct its layout `LayoutManager` itself was getting removed.
Regarding the other part no

[2018-06-11 21:46] tafelito commented on #195
OK I see, so I can actually remove the parent view of the SV and call onLayout from it. That works

But I'm still seeing some render issues. The Image itself has no width, so If I remove the views that have any text on them, then nothing is rendered. If I leave a short text, the the image takes the width of the text. https://codesandbox.io/s/6z72proovw

Another thing I noticed is that you scroll d

[2018-06-12 03:34] naqvitalha commented on #195
Image size is a react native thing. They have to be inferable otherwise nothing renders unlike web where you can expect image to render and then layout accordingly. In RN you need explicit size.

Other part, things are jumping because you've randomised image height thus, with every recycle height of cell will randomly change and RLV will have to relayout.

[2018-06-12 04:40] tafelito commented on #195
make sense I completely forgot about the inferable sizes, that's actually documented somewhere.

and about the other stuff, you're also right, silly mistake.
Thanks again for the help!

btw, is there any way to remove the layout animation. I know you just added that functionality but are you planning on documenting on generating an example about the item animations and stable ids? It looks great!

[2018-06-12 07:33] Jyrno42 commented on #188
Doesn't RLV render multiple times? If I am not wrong, what would i use as an indicator to figure out that RLV is done w/ it's render cycle?

[2018-06-12 15:23] johakr opened #197 "Inconsistent scrollTo* behavior between iOS and android"
Hi,

i noticed some weird inconsistency when using the scrollTo* functions. On iOS it will scroll the message to the top of the visible window. On android it will scroll the message to the bottom of the visible window (which is intended behavior i guess).

For example if you call `scrollToBottom` on iOS it will align the top of the last row with the top of the visible window, resulting in a huge w

[2018-06-13 04:54] mrafei commented on #159
I tried doing this by adding a type if index is 0 in `layoutProvider` and prepending the header component to items list like this:
`let dataProvider = this.dataProvider.cloneWithRows([headerComponent].concat([itemsList]));`
problem is concatenating a large list is not efficient, also we would like to have the list header being rendered independently while `recyclerListView` renders them all togeth

[2018-06-13 08:31] naqvitalha commented on #195
You can check the `ItemAnimator` code. It is pretty well documented. In future, I might add articles around it. Right now not getting enough time.

[2018-06-14 03:48] naqvitalha commented on #197
The best way is to analyse onScroll to track actual dimensions. This problem is with react-native scrollview itself on iOS. It doesn't do a max bound check. The is still a problem with `renderFooter` scenario.
You can put a bounds check in `scrollToOffset` method directly.

[2018-06-14 03:48] naqvitalha commented on #195
I'll close this one. Please open another incase you face issues with animators.

[2018-06-14 03:48] #195 closed

[2018-06-16 05:07] Louies89 opened #200 "Row changes does not carry the Props and states with it"
Hi @naqvitalha,
I am making a chat application with realm db, so when ever db is updated with a new message, the list of chats from different users shall be re-ordered according to the messages received time in descending order as WhatsApp does

I am able to update the row positions according to the db update. But there are problem when the position of a row has changed.

Example:
Suppose rows are

[2018-06-16 06:19] naqvitalha commented on #200
Props will be consistent `state` however can get lost. RecyclerListView can reuse cells to render any items the way it sees fit. Thus you cannot rely on state. Can you share your `rowRenderer`? You shouldn't be running into this issue. You can assign separate types to both person entities etc or use stableIds.
Why do you need state inside your cell? I would strongly discourage that.

[2018-06-16 12:26] legion-zver opened #201 "Warn: Possible stableId collision"
**VirtualRenderer.prototype.syncAndGetKey **
In line `if (stackItem && stackItem.dataIndex !== index) {...}`
Sometimes the key is equal to type ( 0 for me ), How do I fix this warning?

[2018-06-17 04:13] naqvitalha commented on #201
Returning the same stableId for two different items? Any repro steps or expo snack?

[2018-06-17 04:17] naqvitalha commented on #200
If `ChatList` has a data aware state then it will be a problem during recycling. Why can't you pass the unread count as a prop externally just like other props?
Maybe I'm not understanding the use case. Can you provide an expo snack for me to look into?

[2018-06-17 05:10] Louies89 commented on #200
As I am working with realm db, cant make a expo example to make it work.
I understand what you saying... I will try it and let you know. :)

[2018-06-17 05:18] Louies89 commented on #200
And if there are cells whose props are same as before, then while refreshing the dataProvider, all those cells re-render or not?

[2018-06-17 06:49] naqvitalha commented on #200
I think what you're looking for is the `extendedState` prop. You can keep page level stuff here that affects all rows. Changing extended state re renders everything. Make sure you change it only when necessary.

[2018-06-17 08:28] Louies89 commented on #200
I used that, but do not want to use that, as it e renders everything...

[2018-06-17 19:34] AbdallaMohamed commented on #44
Just checking if there's any news updates on this. @naqvitalha

[2018-06-20 19:08] bradbumbalough commented on #146
@dkpalmer have you started anything by means of a fork? I'm going to be picking back on this now.

[2018-06-21 09:16] legion-zver commented on #201
@naqvitalha In that and the fact that I get a list of messages from the server and there are no duplicate IDs, there is a suspicion that the place of the key he sometimes puts not stableid but the element type...

[2018-06-21 21:59] naqvitalha commented on #201
Can you share you data provider and row renderer if possible? Also make sure stableId is a string

[2018-06-22 07:37] MoonFMBot opened #204 "[Feature Request] ListEmptyComponent like FlatList"
https://facebook.github.io/react-native/docs/flatlist.html#listemptycomponent

[2018-06-22 12:16] dkpalmer commented on #146
@bradbumbalough I have not. We switched to an interim solution for re-ordering to be able to ship. I'll switch back to drag and drop soon, though.

[2018-06-25 04:53] naqvitalha commented on #204
Wouldn't this be super simple even if it doesn't come built in? It will make more sense to avoid mounting RLV at all if there is no data.

[2018-06-25 07:44] AbdallaMohamed commented on #204
Then he'd lose the pull to refresh functionality. @MoonFMBot A simple workaround would be giving RLV an array of only 1 row with a special type and use that to render your empty component.

[2018-07-04 10:23] danghung24031992 opened #205 "Android scroll list not performance"
![image](https://user-images.githubusercontent.com/9923258/42271950-de0067a6-7fae-11e8-99b1-08b21eadcbe2.png)
When I scroll on android device frame below 10 , Please help me!

[2018-07-04 13:52] naqvitalha commented on #205
Did you read the perf guide? Please check it here: https://github.com/Flipkart/recyclerlistview/tree/master/docs/guides/performance

[2018-07-05 11:08] cihangulx opened #206 "Search not supported ?"
I am trying filter items with lodash but nothing happen

[2018-07-05 11:29] naqvitalha commented on #206
Please provide more info on the use case.

[2018-07-06 23:33] markhomoki opened #207 "List duplicates a set of result"
I am trying out new listing libraries to make sure the app can have better performance on larger lists.
All listing items are the same, apart from the background image and content.

I have the following code which renders the items:
[code]

<EventHeader /> renders everything from the data props such as title, location date etc. and those values are always up-to-date with the infinite scroll. Displ

[2018-07-11 10:21] markhomoki commented on #207
Thanks, by default I had componentWillReceiveProps method on the CachedImage component, but I was using fade in effect on image load and in this case, the images are flashing.

Probably further logic required on the CachedImage component to fade in when it wasn't loaded before and not to fade in when it was loaded.

Hopefully, it will work that way, as it has a much better performance than the oth

[2018-07-11 10:21] #207 closed

[2018-07-11 10:30] xxramonxx opened #208 "renderHeader() - Header support"
I really your project, but what i'm missing is header support. I tried to implement it on my own, and it was only a few lines of code and the header works. As I've seen in your code, header and footer are not part of an layout provider, so it should be easy to implement.
Is it possible to make render header be part of your listview ?

Thanks a lot !

P.S.: I've experienced performance issues when

[2018-07-11 15:02] Jyrno42 commented on #201
I also sometimes get this (even if i do not add `getStableId` argument to my dataprovider).

[2018-07-11 16:23] Jyrno42 opened #209 "Manual control over VirtualRenderer._checkAndChangeLayouts using refreshWithAnchor/refresh"
If one replaces their LayoutProvider when adding new items RLV always uses `refreshWithAnchor`. This messes up logic for people who want to control their scroll position manually.

(in my case i am creating a chat screen and want to scroll to the latest message in some cases)

Would it be possible to manually control which of the methods is used?

[2018-07-11 21:03] Timer00 commented on #52
We had a pretty similar problem, the page would not update until you went further on the magazine and then came back.
By passing our state to extendedState the **problem was fixed**, now it re renders properly!
`extendedState={this.state}`

[2018-07-12 08:42] naqvitalha commented on #209
LayoutProvider can dictate that. This can be incorporated. But is there a real use case of changing the LayoutProvider while adding data. Shouldn't you know the types upfront?
I'm open to adding it in the next release. It would help if you can raise a PR

[2018-07-16 08:05] naqvitalha commented on #208
The problem is with adjusting `distanceFromWindow` prop automatically. If you want you can pass an external scrollView with a header already attached.
Regarding the other thing, you should ideally only render `AcitivityIndicator` after getting `onEndReached` and then remove it once pagination is complete.

[2018-07-17 12:37] naqvitalha commented on #209
Please check `1.4.0-beta.10`. In that particular version you can unset a value on your layoutprovider e.g, `this._layoutProvider.shouldRefreshWithAnchoring=false;`

Please note that you'll need to do this on the new instance.

[2018-07-17 12:56] Jyrno42 commented on #209
:ok_hand: Nice

Thanks for the awesome library by the way.

[2018-07-17 16:59] douglaslondrina opened #214 "Webview vertical scroll canceled by recyclerlistview horizontal scroll on Android."
I'm using recylerlistview as a pagination controller, and each page is basically a webview. It's all working great, huge improvement over react-native-snap-carousel I was using before.

But I'm having this scroll problem. See following gif. Basically the vertical scrolling is being replaced by the horizontal scrolling of the recyclerlistview, mid-gesture.

![ezgif-4-d88d45a239](https://user-images

[2018-07-17 17:49] naqvitalha commented on #214
Is this webview with RNW or React Native?

[2018-07-17 20:01] douglaslondrina commented on #214
Its on React-Native.

There are some questions related to this problem on stack overflow. It's probably a ScrollView/Webview issue, but as you are a lot more experienced in the subject, your input would be much appreciated.

[2018-07-17 23:50] Sangrene opened #215 "[question] PureComponent ?"
Hi,

Can I use a PureComponent and avoid implementing `shouldComponentUpdate` ?

Great library :)

[2018-07-18 05:09] naqvitalha commented on #215
Yes, I don't see why not. Make sure there are no closures being passed to the component.

[2018-07-18 05:09] #215 closed

[2018-07-18 05:11] naqvitalha commented on #214
Do you need Recycling? If not you might want to use https://github.com/react-native-community/react-native-tab-view without the headers.
`ViewPagerAndroid` works better on Android.

[2018-07-18 16:17] douglaslondrina commented on #214
Recycling is helpful to avoid excessive memory use, some “files” have dozens of pages. But I will try the component you suggested, see if I can optimize differently.

Thanks.

[2018-07-19 13:14] Sangrene opened #217 "onEndReached not consistent on all screen size"
Hi,

I have a problem where onEndReached is not always triggered, it really depends on screen size or screen density, even when setting onEndReachedThreshold on different values. Do we have a work around to make it work consistently ?

[2018-07-19 15:10] Sangrene commented on #217
Nevermind, the onScroll function just burnt the app memory usage.

[2018-07-19 15:10] #217 closed

[2018-07-19 20:15] douglaslondrina commented on #214
Hey @naqvitalha , using native ViewPagerAndroid really solves the scrolling issue. Will have to see how to optimise memory use but it is right way to do it. Thanks.

[2018-07-19 20:15] #214 closed

[2018-07-24 09:19] markhomoki opened #218 "Laggy scroll experience due to image fetch"
Hello,

I have a weird issue related to refreshing images. This library made a scrolling much nicer however I cannot push production until I fix the following issue. Spending couple of hours everyday to fix with no luck so I hope one of you can help me out. :)

I have a listing with the following setup:

Item.js // 100% wide, 140px tall blocks with image background and text on it
CachedImage.js //

[2018-07-27 05:42] naqvitalha commented on #218
During scroll I/O operations can be highly detrimental to performance given the implementation. There is a lot happening here including the extra setState getting triggered. Also, why aren't you relying on Fresco's built in image caching?

[2018-07-27 07:38] markhomoki commented on #218
Thank you for your reply. Since I wrote the original post I've changed my code a bit.

Now rather than setting the state on every render I set the cached URL during the redux action, so when there are new items fetched updates each item and replaces the CDN url to the cached local url.

This way the renderItem is stateless and has a much better performance than before, but still when scrolling thr

[2018-07-31 11:11] jackmatrix opened #220 "Cannot make a scroll"
I just copy pasted the sample code, i didn't edited anything everything is okay but i can't scroll . Is it normal ? The issie occurs on both ios and android

Any idea ?

[2018-07-31 12:44] jackmatrix opened #221 "Scroll doesn't work in physical devices"
I'm trying to scroll on my app running with `Expo` . Unfortunately, scrolling only works on emulator but not on physical devices.

Are some people encountered the same issue ?

[2018-07-31 16:02] ZeroSingularity commented on #171
I'm getting a very similar error when testing the recyclerlistview. Is there something I'm missing?

`
Test suite failed to run

    /Users/*****/*****/node_modules/lodash-es/debounce.js:1
    ({"Object.<anonymous>":function(module,exports,require,__dirname,__filename,global,jest){import isObject from './isObject.js';

[2018-07-31 17:24] alexpareto opened #222 "nested recyclerlistview: contextprovider for individual rows being reused"
**EDIT**: reproduced with an expo snack that appears to be related to standard usage, more so than my particular usage: https://snack.expo.io/BJ2CHQRVm

**ORIGINAL**:
Currently working with a nested recyclerlistview, similar to [this project](https://github.com/naqvitalha/recyclerlistview-context-preservation-demo/blob/master/contextProviderSampleApp/src/MainComponent.js). The difference is that t

[2018-07-31 18:10] alexpareto commented on #222
here is an expo snack that reproduces the issue (at least on iOS), using the same code from [the context provider example project](https://github.com/naqvitalha/recyclerlistview-context-preservation-demo/blob/master/contextProviderSampleApp/src/MainComponent.js) : https://snack.expo.io/BJ2CHQRVm

[2018-08-01 13:09] naqvitalha commented on #222
`ContextProvider` only works while mounting. During recycling nothing will mount again. If you want to recycle `RecyclerListView` instances you'll have to cache scroll positions manually and apply them again in `componentDidUpdate` inside your component. Let me know if this helps.

[2018-08-01 13:10] naqvitalha commented on #221
Can you share the expo link? This issue in unheard of.

[2018-08-01 13:11] naqvitalha commented on #220
Let's track it in #221

[2018-08-01 13:11] #220 closed

[2018-08-01 18:38] alexpareto commented on #222
Hey, that makes sense with regard to the context provider. Decided to go ahead on cache in componentDidUpdate and then use scrollTo to update the list. Still running into some bugs though. While the cacheing mechanism works fine (getting the right location). The scrollTo() method tends to just not run.

e.g. standard console output:
`scrolled from  341 to 341 supposed to scroll to 0`

here's an ex

[2018-08-02 08:28] jackmatrix commented on #221
Problem solved. The issue was caused because i 've wrapped my app under a `<DismissKeyboard></DismissKeyBoard>`Component. I removed this wrapper and all is working now.

Thanks.

[2018-08-02 08:28] #221 closed

[2018-08-02 22:03] alexpareto commented on #222
Perhaps it's something with _pendingScrollToOffset? Does the recycle process set that - and then void any other scrollTos?

[2018-08-02 22:15] alexpareto commented on #222
It appears something like that is the issue...delaying the scrollTo 100ms solves the issue, but feels like an ugly hack.

[code]

[2018-08-03 04:28] naqvitalha commented on #222
It is working fine @alexpareto. Problem is with your log statement
[code]
Given `scrollToOffset` is asynchronous `this.list.getCurrentScrollOffset()` wouldn't have updated by the time you are logging it. Same is true with `DataProvider` change.

If I wrap the log part in double rAF it works fine. Check: https://snack.expo.io/B1B0YU-HX

[2018-08-03 06:25] alexpareto commented on #222
Ah yes, you're right! good catch. Thanks for the help + the component.

[2018-08-03 06:25] #222 closed

[2018-08-03 09:13] markhomoki commented on #218
I found a solution to fix my issue. Hopefully sharing it will help someone.

The issue was with the default <Image /> component that comes with react-native. The images were cached and when scrolling through the items I was just passing the local cached url of the image. Seems like the default <Image /> component is not fast enough with local images and it blocks the main thread until the requeste

[2018-08-03 09:13] #218 closed

[2018-08-03 14:33] gaodeng opened #224 "[feature request] Listview with sticky headers like the Android contact page"
https://github.com/renefloor/side_header_list_view

![example](https://user-images.githubusercontent.com/1118249/43648512-2d71d5ec-976d-11e8-8be6-5f09ddec2d1b.gif)

[2018-08-06 08:00] naqvitalha commented on #224
This is not so difficult to build if you use the `onScroll` event and `onVisibleIndexesChanged` callback. Why don't you build a reusable utility and help all of us :)

[2018-08-08 02:13] gaodeng commented on #224
@naqvitalha
Hi, I have tried to implement this. but I  encountered some issue.
1.sticky headers need a higher z-Index, currently, every list row view is wrapped inside a view by recycler list,so I can't easily change the z-Index of the section header.
2.currently, recycler list manages the row render and reuse, but sticky headers need some API to mark it not be resued.

[2018-08-08 08:37] naqvitalha commented on #224
You can use a custom `ItemAnimator` to change the zIndex. To prevent recycling just assign a unique type to each sticky row.

[2018-08-11 16:16] sksin28 opened #225 "List is not updated/rerendered unless scrolled far away and back"
I'm trying to display a checkbox alongside each row in the list. Upon clicking on the checkbox, I want it to -be selected/de-selected. I do this by updating the array element property. However, the row is not updated until I scroll far away and then scroll back. I also tried the `extendedState` prop but that did not help too.
[code]
Any help would be much appreciated. Thanks

[2018-08-12 13:51] AbdallaMohamed commented on #225
Shouldn't you be using setState or dispatching an action instead of mutating the object?
`item.selected = !item.selected`

[2018-08-12 19:56] rasanu commented on #225
Same problem.. ..still searching for solution..

[2018-08-12 20:50] sksin28 commented on #225
I did try mutating the state but it did not help.
[code]

[2018-08-13 07:44] naqvitalha commented on #225
Your `rowHasChanged` implementation will return `false` here. You should maintain list of selections in extended state and let the component consume it.

[2018-08-13 09:32] sksin28 commented on #225
Can you please explain how `rowHasChanged` function works? Do the `r1, r2` parameters correspond to previous and current values of row? If that's the case, changing the changing the `selected` property should cause it to return 'true`.

I also tried maintaining the list of selected items in a separate object and pass it to the `extendedState` props. However that didn't work too. The checkbox is on

[2018-08-13 09:41] AbdallaMohamed commented on #225
@sksin28 The problem is, you're mutating the object directly, instead of making a new object. That means that the reference is the same
[code]
And when the `rowHasChanges` runs, it won't see that there are any changes.

[code]

Instead, you should be making a new object
[code]

So, in your code:
[code]

[2018-08-13 11:37] sksin28 commented on #225
Thanks @AbdallaMohamed  @naqvitalha . It worked. :)

[2018-08-13 11:37] #225 closed

[2018-08-13 14:04] lingxiao opened #226 "How would you specify flexible row heights"
I am designing a comments section on react-native, similar to those found on instagram or twitter. Each row in the RecyclerListView must be flexible in height since I would like the full length of the content to be displayed. Is this possible? It would be difficult to define the height in `LayoutProvider`. Unless I precompute how many lines the comments are, for example here: https://www.npmjs.com

[2018-08-13 15:11] max-zu opened #227 "DataGrid with Fixed Column."
Is it possible to create table with fixed first column, and horizontally scrollable other columns. I tried different solutions with FlatList, and with two synchronized Flatlist. But it still wotks incorrectly.

[2018-08-13 22:26] tafelito opened #228 "Re-layout using forceNonDeterministicRendering"
@naqvitalha I'm using an ExternalScrollView as mentioned [here](https://github.com/Flipkart/recyclerlistview/pull/141) to control the layout changes (window resize event. I can't use canSizeChange property because it uses the window size and not inner container). The problem I have is when I use forceNonDeterministicRendering and I resize the screen the items don't re-layout. I have to scroll the